<div class="page-wraper">

  <!-- header -->
  <app-header-light3></app-header-light3>
  <!-- header END -->
  <!-- Content -->
  <div class="page-content bg-white">
    <!-- inner page banner -->
    <app-banner1 [data]="banner"></app-banner1>
    <!-- inner page banner END -->
    <!-- contact area -->
    <div class="section-full content-inner">
      <!-- Product -->
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-4 m-b30">
            <aside class="side-bar shop-categories sticky-top">
              <div class="widget recent-posts-entry">
                <div class="dlab-accordion advanced-search toggle" id="accordion1">
                  <div class="panel">
                    <div class="acod-head">
                      <h5 class="acod-title">
                        <a data-toggle="collapse" href="#categories"> Product categories</a>
                      </h5>
                    </div>
                    <div id="categories" class="acod-body collapse show">
                      <div class="acod-content">
                        <div class="widget widget_services">
                          <ul>
                            <li><a [routerLink]="['/shop-cart']">Bags</a></li>
                            <li><a [routerLink]="['/shop-cart']">Jeans</a></li>
                            <li><a [routerLink]="['/shop-cart']">Shoes</a></li>
                            <li><a [routerLink]="['/shop-cart']">Sweaters</a></li>
                            <li><a [routerLink]="['/shop-cart']">Tops</a></li>
                            <li><a [routerLink]="['/shop-cart']">Women</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel">
                    <div class="acod-head">
                      <h5 class="acod-title">
                        <a data-toggle="collapse" href="#price-range"> Price Range</a>
                      </h5>
                    </div>
                    <div id="price-range" class="acod-body collapse show">
                      <div class="acod-content">
                        <div class="price-slide-2 range-slider">
                          <div class="price">
                            <input type="text" id="amount-2" class="amount" readonly="" value="$400 - $4000" />
                            <div id="slider-range-2"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel">
                    <div class="acod-head">
                      <h5 class="acod-title">
                        <a data-toggle="collapse" href="#color"> COLOR </a>
                      </h5>
                    </div>
                    <div id="color" class="acod-body collapse show">
                      <div class="acod-content">
                        <h6>Select the color</h6>
                        <div class="btn-group product-item-color" data-toggle="buttons">
                          <label class="btn bg-red active">
                            <input name="options" id="option1" checked="" type="radio">
                          </label>
                          <label class="btn bg-pink">
                            <input name="options" id="option2" type="radio">
                          </label>
                          <label class="btn bg-yellow">
                            <input name="options" id="option3" type="radio">
                          </label>
                          <label class="btn bg-blue">
                            <input name="options" id="option4" type="radio">
                          </label>
                          <label class="btn bg-green">
                            <input name="options" id="option5" type="radio">
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel">
                    <div class="acod-head">
                      <h5 class="acod-title">
                        <a data-toggle="collapse" href="#size"> Size</a>
                      </h5>
                    </div>
                    <div id="size" class="acod-body collapse show">
                      <div class="acod-content">
                        <h6>Product Size</h6>
                        <div class="btn-group product-item-size" data-toggle="buttons">
                          <label class="btn active">
                            <input name="options" id="option6" checked="" type="radio">XS
                          </label>
                          <label class="btn">
                            <input name="options" id="option7" type="radio"> LG
                          </label>
                          <label class="btn">
                            <input name="options" id="option8" type="radio"> MD
                          </label>
                          <label class="btn">
                            <input name="options" id="option9" type="radio"> SM
                          </label>
                          <label class="btn">
                            <input name="options" id="option10" type="radio"> Xl
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel">
                    <div class="acod-head">
                      <h5 class="acod-title">
                        <a data-toggle="collapse" href="#vendor">
                          VENDOR
                        </a>
                      </h5>
                    </div>
                    <div id="vendor" class="acod-body collapse show">
                      <div class="acod-content">
                        <div class="product-brand">
                          <div class="search-content">
                            <input id="seating1" type="checkbox">
                            <label for="seating1" class="search-content-area">Gap</label>
                          </div>
                          <div class="search-content">
                            <input id="seating2" type="checkbox">
                            <label for="seating2" class="search-content-area">Guess</label>
                          </div>
                          <div class="search-content">
                            <input id="seating3" type="checkbox">
                            <label for="seating3" class="search-content-area">Lacoste</label>
                          </div>
                          <div class="search-content">
                            <input id="seating4" type="checkbox">
                            <label for="seating4" class="search-content-area">Levi's</label>
                          </div>
                          <div class="search-content">
                            <input id="seating5" type="checkbox">
                            <label for="seating5" class="search-content-area">Polo</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel">
                    <div class="acod-head">
                      <h5 class="acod-title">
                        <a data-toggle="collapse" href="#tags" class="collapsed">POPULAR TAGS</a>
                      </h5>
                    </div>
                    <div id="tags" class="acod-body collapse">
                      <div class="acod-content">
                        <div class="widget_tag_cloud radius">
                          <div class="tagcloud"> <a href="javascript:void(0);">Design</a>
                            <a href="javascript:void(0);">User interface</a>
                            <a href="javascript:void(0);">SEO</a>
                            <a href="javascript:void(0);">WordPress</a>
                            <a href="javascript:void(0);">Development</a>
                            <a href="javascript:void(0);">Joomla</a>
                            <a href="javascript:void(0);">Design</a>
                            <a href="javascript:void(0);">User interface</a>
                            <a href="javascript:void(0);">SEO</a>
                            <a href="javascript:void(0);">WordPress</a>
                            <a href="javascript:void(0);">Development</a>
                            <a href="javascript:void(0);">Joomla</a>
                            <a href="javascript:void(0);">Design</a>
                            <a href="javascript:void(0);">User interface</a>
                            <a href="javascript:void(0);">SEO</a>
                            <a href="javascript:void(0);">WordPress</a>
                            <a href="javascript:void(0);">Development</a>
                            <a href="javascript:void(0);">Joomla</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel">
                    <div class="acod-head">
                      <h5 class="acod-title">
                        <a data-toggle="collapse" href="#features" class="collapsed"> Features</a>
                      </h5>
                    </div>
                    <div id="features" class="acod-body collapse">
                      <div class="acod-content">
                        <div class="item-widgets-box">
                          <div class="item-widgets-left">
                            <img src="assets/images/product/thumb/item1.jpg" alt="">
                          </div>
                          <div class="item-widgets-body text-black">
                            <h6 class="item-title text-capitalize font-weight-500 m-t0">
                              <a [routerLink]="['/shop-product-details']">Product Title</a>
                            </h6>
                            <ul class="item-review text-yellow-light">
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star-half-o"></i></li>
                              <li><i class="fa fa-star-o"></i></li>
                            </ul>
                            <h6 class="item-price m-b0">
                              <del>$232</del>
                              <span class="text-primary">$192</span>
                            </h6>
                          </div>
                        </div>
                        <div class="item-widgets-box">
                          <div class="item-widgets-left">
                            <img src="assets/images/product/thumb/item2.jpg" alt="">
                          </div>
                          <div class="item-widgets-body text-black">
                            <h6 class="item-title text-capitalize font-weight-500 m-t0">
                              <a [routerLink]="['/shop-product-details']">Product Title</a>
                            </h6>
                            <ul class="item-review text-yellow-light">
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star-half-o"></i></li>
                              <li><i class="fa fa-star-o"></i></li>
                            </ul>
                            <h6 class="item-price m-b0">
                              <del>$232</del>
                              <span class="text-primary">$192</span>
                            </h6>
                          </div>
                        </div>
                        <div class="item-widgets-box">
                          <div class="item-widgets-left">
                            <img src="assets/images/product/thumb/item3.jpg" alt="">
                          </div>
                          <div class="item-widgets-body text-black">
                            <h6 class="item-title text-capitalize font-weight-500 m-t0">
                              <a [routerLink]="['/shop-product-details']">Product Title</a>
                            </h6>
                            <ul class="item-review text-yellow-light">
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star-half-o"></i></li>
                              <li><i class="fa fa-star-o"></i></li>
                            </ul>
                            <h6 class="item-price m-b0">
                              <del>$232</del>
                              <span class="text-primary">$192</span>
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </aside>
          </div>
          <div class="col-lg-9 col-md-8 m-b30">
            <div class="row">
              @for(item of products; track item){
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="item-box m-b10">
                  <div class="item-img">
                    <img src="{{ item.img }}" alt="" />
                    <div class="item-info-in center">
											<ul>
												<li><a [routerLink]="['/shop-cart']"><i class="ti-shopping-cart"></i></a></li>
												<li><a href="javascript:void(0);"><i class="ti-eye"></i></a></li>
												<li><a href="javascript:void(0);"><i class="ti-heart"></i></a></li>
											</ul>
										</div>
                  </div>
                  <div class="item-info text-center text-black p-a10">
                    <h6 class="item-title font-weight-500">
                      <a [routerLink]="['/shop-product-details']">{{ item.title }}</a>
                    </h6>
                    <ul class="item-review">
                      @for(starRow of [].constructor(5); track starRow; let i = $index){
                        @if(item.rating > i){
                          <li><i class="fa fa-star" [ngClass]="[i == 4 ? 'mr-0':'mr-1']"></i></li>
                        } @else {
                          <li><i class="fa fa-star-o" [ngClass]="[i == 4 ? 'mr-0':'mr-1']"></i></li>
                        }
                      }
                    </ul>
                    <h4 class="item-price">
                      <del>{{ item.offer_price | currency  }}</del>
                      <span class="text-primary pl-2">{{ item.price | currency  }}</span>
                    </h4>
                  </div>
                </div>
              </div>
              }
            </div>
          </div>
        </div>
      </div>
      <!-- Product END -->
    </div>
    <!-- Shop Service info -->
    <app-icon-box3></app-icon-box3>
    <!-- Shop Service info End -->
  </div>
  <!-- Content END-->
  <!-- Footer -->
  <app-footer19></app-footer19>
  <!-- Footer End -->
 <button class="scroltop fa fa-chevron-up" (click)="scroll_top()"></button>
</div>
