<header class="site-header mo-left header-transparent box-header navstyle5 header">
  <div class="top-bar">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="dlab-topbar-left">
          <ul>
            <li><a [routerLink]="['/about-1']">About Us</a></li>
            <li><a [routerLink]="['/privacy-policy']">Refund Policy</a></li>
            <li><a [routerLink]="['/help-desk']">Help Desk</a></li>
          </ul>
        </div>
        <div class="dlab-topbar-right topbar-social">
          <ul>
            <li><a href="#" class="site-button-link facebook hover"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="site-button-link google-plus hover"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" class="site-button-link twitter hover"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="site-button-link instagram hover"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#" class="site-button-link linkedin hover"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#" class="site-button-link youtube hover"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- main header -->
  <div class="sticky-header main-bar-wraper navbar-expand-lg">
    <div class="main-bar clearfix ">
      <div class="container clearfix">
        <!-- website logo -->
        <div class="logo-header mostion">
          <a [routerLink]="['/index']"><img src="assets/images/logo-7.png" alt=""></a>
        </div>
        <!-- nav toggle button -->
        <button class="navbar-toggler collapsed navicon justify-content-end" type="button" (click)="clickEvent()" [ngClass]="{'open': collapseToggle}">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <!-- extra nav -->
        <div class="extra-nav">
          <a [routerLink]="['/contact-1']" class="site-button radius-no">GET A QUOTE</a>
        </div>
        <!-- Quik search -->
        <div class="dlab-quik-search {{searchToggle ? 'On d-block':'d-none'}}">
          <form action="#">
            <input name="search" value="" type="text" class="form-control" placeholder="Type to search">
            <span id="quik-search-remove"(click)="searchOpen()"><i class="ti-close"></i></span>
          </form>
        </div>
        <!-- main nav -->
        <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown" [ngClass]="{'collapse show': collapseToggle}">
          <div class="logo-header d-md-block d-lg-none">
            <a [routerLink]="['/index']"><img src="assets/images/logo-7.png" alt=""></a>
          </div>
          <app-navigation1/>
          <div class="dlab-social-icon">
            <ul>
              <li><a class="site-button sharp-sm fa fa-facebook" href="javascript:void(0);"></a></li>
              <li><a class="site-button sharp-sm fa fa-twitter" href="javascript:void(0);"></a></li>
              <li><a class="site-button sharp-sm fa fa-linkedin" href="javascript:void(0);"></a></li>
              <li><a class="site-button sharp-sm fa fa-instagram" href="javascript:void(0);"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- main header END -->
</header>
