<div class="section-full content-inner bg-gray">
  <div class="container">
    <div class="section-head text-black text-center">
      <h2 class="title">Quality With Dedication</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard
        dummy text ever since the been when an unknown printer.</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 m-b50 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.3s">
        <div class="dlab-box service-box-3">
          <div class="dlab-media radius-sm dlab-img-overlay1">
            <a [routerLink]="['/services-details']"><img src="assets/images/our-work/mining/pic1.jpg" alt=""></a>
          </div>
          <div class="dlab-info">
            <h4 class="title"><a [routerLink]="['/services-details']">Mining Engineering</a></h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 m-b50 wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.3s">
        <div class="dlab-box service-box-3">
          <div class="dlab-media radius-sm dlab-img-overlay1">
            <a [routerLink]="['/services-details']"><img src="assets/images/our-work/mining/pic6.jpg" alt=""></a>
          </div>
          <div class="dlab-info">
            <h4 class="title"><a [routerLink]="['/services-details']">Exploration Management</a></h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 m-b50 wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.3s">
        <div class="dlab-box service-box-3">
          <div class="dlab-media radius-sm dlab-img-overlay1">
            <a [routerLink]="['/services-details']"><img src="assets/images/our-work/mining/pic3.jpg" alt=""></a>
          </div>
          <div class="dlab-info">
            <h4 class="title"><a [routerLink]="['/services-details']">Engineering Services</a></h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 m-b50 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.3s">
        <div class="dlab-box service-box-3">
          <div class="dlab-media radius-sm dlab-img-overlay1">
            <a [routerLink]="['/services-details']"><img src="assets/images/our-work/mining/pic4.jpg" alt=""></a>
          </div>
          <div class="dlab-info">
            <h4 class="title"><a [routerLink]="['/services-details']">Maintenance & Repair</a></h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 m-b50 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
        <div class="dlab-box service-box-3">
          <div class="dlab-media radius-sm dlab-img-overlay1">
            <a [routerLink]="['/services-details']"><img src="assets/images/our-work/mining/pic5.jpg" alt=""></a>
          </div>
          <div class="dlab-info">
            <h4 class="title"><a [routerLink]="['/services-details']">Engineering Services</a></h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 m-b50 wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.3s">
        <div class="dlab-box service-box-3">
          <div class="dlab-media radius-sm dlab-img-overlay1">
            <a [routerLink]="['/services-details']"><img src="assets/images/our-work/mining/pic2.jpg" alt=""></a>
          </div>
          <div class="dlab-info">
            <h4 class="title"><a [routerLink]="['/services-details']">Maintenance & Repair</a></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
