<div class="section-full content-inner-2 bg-white wow fadeIn" style="background-image:url(assets/images/background/map-bg1.png)" data-wow-duration="2s" data-wow-delay="0.6s">
  <ng-template ngFor let-testimonialData [ngForOf]="data">
    <div class="container">
      <div class="section-head style2 text-center">
        <h2 class="title">{{testimonialData.section_title}}</h2>
        <p>{{testimonialData.section_description}}</p>
      </div>
      <owl-carousel-o [options]="customOptions" class="testimonial-num-count d-block owl-num-count owl-btn-center-lr owl-btn-3 owl-theme">
        @for(testimonial of testimonialData.testimonial; track testimonial){
        <ng-template carouselSlide *ngFor="let testimonial of testimonialData.testimonial">
          <div class="item">
            <div class="testimonial-12 text-white">
              <div class="testimonial-pic">
                <img src="{{testimonial.image}}" alt="">
              </div>
              <div class="testimonial-detail">
                <h4 class="testimonial-name m-t0 m-b5">{{testimonial.name}}</h4>
                <span class="testimonial-position">{{testimonial.role}}</span>
                <div class="testimonial-text">
                  <p>{{testimonial.description}}</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        }
      </owl-carousel-o>
    </div>
  </ng-template>
</div>
