<div class="section-full overlay-black-dark bg-img-fix text-white content-inner"
  style="background-image:url(assets/images/background/bg4.jpg);">
  <div class="container">
    <div class="section-content">
      <div class="row sp20">
        <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
          <div class="icon-bx-wraper center counter-style-5">
            <div class="icon-xl m-b20">
              <span class="icon-cell"><i class="flaticon-worker"></i></span>
            </div>
            <div class="icon-content">
              <div class="dlab-separator bg-primary"></div>
              <h2 class="dlab-tilte counter">1226</h2>
              <p>Happy Client</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
          <div class="icon-bx-wraper center counter-style-5">
            <div class="icon-xl m-b20">
              <span class="icon-cell"><i class="flaticon-settings"></i></span>
            </div>
            <div class="icon-content">
              <div class="dlab-separator bg-primary"></div>
              <h2 class="dlab-tilte counter">1551</h2>
              <p>Workers Hand</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
          <div class="icon-bx-wraper center counter-style-5">
            <div class="icon-xl m-b20">
              <span class="icon-cell"><i class="flaticon-conveyor-1"></i></span>
            </div>
            <div class="icon-content">
              <div class="dlab-separator bg-primary"></div>
              <h2 class="dlab-tilte counter">1156</h2>
              <p>Active Experts</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
          <div class="icon-bx-wraper center counter-style-5">
            <div class="icon-xl m-b20">
              <span class="icon-cell"><i class="flaticon-analytics"></i></span>
            </div>
            <div class="icon-content">
              <div class="dlab-separator bg-primary"></div>
              <h2 class="dlab-tilte counter">1302</h2>
              <p>Completed Projects</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
