<div class="section-full call-action style1 bg-primary wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s"  id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 text-white">
        <h2 class="title">Amazing things happen to your business </h2>
        <p class="m-b0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="col-lg-3 d-flex">
        <a [routerLink]="['/contact-1']" class="{{coutactBtnClass ? coutactBtnClass :'site-button btnhover17 white align-self-center outline ms-auto outline-2'}}">Contact Us</a>
      </div>
    </div>
  </div>
</div>
