<div class="section-full content-inner const-about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.3s">
        <div class="radius-sm m-b30 img-ho1">
          <img src="assets/images/about/pic11.jpg" alt=""/>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.6s">
        <div class="content-bx1">
          <div class="about-year">
            <span>26</span>
            <p>Years<br/>Experience<br/>Working</p>
          </div>
          <div class="section-head style2">
            <h2 class="title">Architecure is a visual art,<br/> and The Building</h2>
            <p>Praesent pharetra orci odio, ut mattis tellus ullamcorper ornare. Suspendisse ullamcorper metus in erat viverra, vehicula pharetra dolor accumsan. In arcu ex, rutrum finibus malesuada vel. Praesent pharetra orci odio, ut mattis tellus</p>
          </div>
          <a [routerLink]="['/portfolio-details']" class="site-button m-r10 m-b10 btnhover20">View Portfolio</a>
          <a [routerLink]="['/about-1']" class="site-button black m-b10 btnhover20">About Us</a>
        </div>
      </div>
    </div>
  </div>
</div>
