<footer class="site-footer footer-gray-1">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.2s">
          <div class="widget border-0">
		  <h6 class="m-b20 text-white font-weight-300 text-uppercase">Connect</h6>

            <ul class="list-2">
             <li style= width:114%><a>Contact No.: +91 7869695564</a></li>
	     <li style= width:90%><a>Address: 1,Shantikunj,Housing Board - Kishanpura ,Hoshangabad/Narmadapuram , Madhya-Pradesh, 461001 ,India </a></li>
	     <li style= width:114%><a>Mail: atulgour.hbd&#64;gmail.com</a></li>
             <!-- <li><a [routerLink]="['/blog-grid-2']">Blog</a></li>
              <li><a [routerLink]="['/services-1']">Services</a></li>
              <li><a [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
              <li><a [routerLink]="['/portfolio-details']">Projects </a></li>
              <li><a [routerLink]="['/help-desk']">Help Desk </a></li>
              <li><a [routerLink]="['/shop']">Shop</a></li>
              <li><a [routerLink]="['/contact-1']">Contact</a></li>
	    -->
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.4s">
          <div class="widget">
            <h6 class="text-white font-weight-300 text-uppercase">Newsletter</h6>
            <div class="subscribe-form m-b20 m-t15">
              <form class="dzSubscribe" [formGroup]="subscribeForm" (ngSubmit)="onSubmit()">
                <div class="dzSubscribeMsg"></div>
                <div class="input-group">
                  <input name="dzEmail" formControlName="email" required="required" class="form-control radius-no" placeholder="Your Email Id" type="email">
                  <span class="input-group-btn">
                    <button name="submit" value="Submit" type="submit" class="site-button radius-no btnhover14">SEND</button>
                  </span>
                </div>
              </form>
              @if(message){
                <p [ngClass]="{ 'text-success': success, 'text-danger': !success }">{{ message }}</p>
              }
            </div>
            <h6 class="m-b10 text-white font-weight-300 text-uppercase">Connect with us</h6>
            <ul class="list-inline m-a0">
              <li><a href="javascript:void(0);" class="site-button facebook sharp"><i class="fa fa-facebook"></i></a></li>
              <li><a href="javascript:void(0);" class="site-button google-plus sharp"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="javascript:void(0);" class="site-button linkedin sharp"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="javascript:void(0);" class="site-button instagram sharp"><i class="fa fa-instagram"></i></a></li>
              <li><a href="javascript:void(0);" class="site-button twitter sharp"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 wow fadeIn" data-wow-delay="0.6s">
          <div class="icon-bx-wraper bx-style-1 p-a30 m-b15 radius-sm br-col-w1 bg-tpw1">
            <h5 class="text-white font-weight-300">Serving nation wide and across with our manufactured products and services 
            </h5>
            <p>India,Canada and U.S. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer bottom part -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 text-left "> <span>Copyright © 2025 Narmada-Agricultures. all rights reserved.</span> </div>
        <div class="col-md-6 col-sm-6 text-right ">
          <div class="widget-link ">
            <ul>
		    <!--
              <li><a [routerLink]="['/help-desk']"> Help Desk</a></li>
              <li><a [routerLink]="['/privacy-policy']"> Refund Policy</a></li>
		    -->
	    </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
