
<div class="page-wraper">
  <!-- header -->
  <app-header-light3></app-header-light3>
  <!-- header END -->
  <!-- Content -->
  <div class="page-content bg-white">
    <!-- inner page banner -->
    <app-banner1 [data] = "banner"></app-banner1>
    <!-- inner page banner END -->
    <!-- contact area -->
    <div class="content-block">
      <!-- Code Box -->
      <div class="section-full content-inner bg-white video-section" style="background-image:url('assets/images/background/bg-video.png');">
        <div class="container">
          <div class="footer-box">
            <div class="row align-items-center">
              <div class="col-lg-3 col-md-4">
                <img src="assets/images/footer.png" alt=""/>
              </div>
              <div class="col-lg-9 col-md-8">
                <h2 class="title">Check Footer Style 05</h2>
                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm.</p>
              </div>
            </div>
          </div>
          <div class="relative">
            <button id="copyButton" class="btn">Copy</button>
<pre class="code-box" id="copyTarget">
&lt;!-- Footer --&gt;
&lt;footer class="site-footer text-uppercase footer-white"&gt;
&lt;div class="footer-top"&gt;
  &lt;div class="container saf-footer"&gt;
    &lt;div class="row"&gt;
      &lt;div class="col-md-6 col-lg-3 col-sm-6 footer-col-4"&gt;
        &lt;div class="widget widget_getintuch"&gt;
          &lt;h5 class="m-b30 text-white "&gt;Contact us&lt;/h5&gt;
          &lt;ul&gt;
            &lt;li&gt;&lt;i class="ti-location-pin"&gt;&lt;/i&gt;&lt;strong&gt;address&lt;/strong&gt; demo address #8901 Marmora Road Chi Minh City, Vietnam &lt;/li&gt;
            &lt;li&gt;&lt;i class="ti-mobile"&gt;&lt;/i&gt;&lt;strong&gt;phone&lt;/strong&gt;0800-123456 (24/7 Support Line)&lt;/li&gt;
            &lt;li&gt;&lt;i class="ti-email"&gt;&lt;/i&gt;&lt;strong&gt;email&lt;/strong&gt;{{ email }}&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;

      &lt;div class="col-md-6 col-lg-3 col-sm-6 col-5 footer-col-4"&gt;
        &lt;div class="widget widget_services border-0"&gt;
          &lt;h5 class="m-b30 text-white"&gt;Company&lt;/h5&gt;
          &lt;ul&gt;
            &lt;li&gt;&lt;a [routerLink]="['/index']"&gt;About Us &lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a [routerLink]="['/index']"&gt;Home &lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a [routerLink]="['/contact']"&gt;Contact Us&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a [routerLink]="['/about-1']"&gt;About Us&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a [routerLink]="['/services-2']"&gt;Our Services&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;

      &lt;div class="col-md-6 col-lg-3 col-sm-6 col-7 footer-col-4"&gt;
        &lt;div class="widget widget_services border-0"&gt;
          &lt;h5 class="m-b30 text-white"&gt;Useful Link&lt;/h5&gt;
          &lt;ul&gt;
            &lt;li&gt;&lt;a [routerLink]="['/index']"&gt;Create Account&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a [routerLink]="['/index']"&gt;Company Philosophy &lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a [routerLink]="['/contact']"&gt;Corporate Culture&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a [routerLink]="['/about-1']"&gt;Portfolio&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a [routerLink]="['/services-2']"&gt;Client Management&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="col-md-6 col-lg-3 col-sm-6 footer-col-4"&gt;
        &lt;div class="widget widget_gallery gallery-grid-4"&gt;
          &lt;h5 class="m-b30 text-white"&gt;Gallery&lt;/h5&gt;
          &lt;ul&gt;
            &lt;li class="img-effect2"&gt; &lt;a [routerLink]="javascript:void(0);"&gt;&lt;img src="assets/images/gallery/pic1.jpg" alt=""&gt;&lt;/a&gt; &lt;/li&gt;
            &lt;li class="img-effect2"&gt; &lt;a [routerLink]="javascript:void(0);"&gt;&lt;img src="assets/images/gallery/pic2.jpg" alt=""&gt;&lt;/a&gt; &lt;/li&gt;
            &lt;li class="img-effect2"&gt; &lt;a [routerLink]="javascript:void(0);"&gt;&lt;img src="assets/images/gallery/pic3.jpg" alt=""&gt;&lt;/a&gt; &lt;/li&gt;
            &lt;li class="img-effect2"&gt; &lt;a [routerLink]="javascript:void(0);"&gt;&lt;img src="assets/images/gallery/pic4.jpg" alt=""&gt;&lt;/a&gt; &lt;/li&gt;
            &lt;li class="img-effect2"&gt; &lt;a [routerLink]="javascript:void(0);"&gt;&lt;img src="assets/images/gallery/pic5.jpg" alt=""&gt;&lt;/a&gt; &lt;/li&gt;
            &lt;li class="img-effect2"&gt; &lt;a [routerLink]="javascript:void(0);"&gt;&lt;img src="assets/images/gallery/pic6.jpg" alt=""&gt;&lt;/a&gt; &lt;/li&gt;
            &lt;li class="img-effect2"&gt; &lt;a [routerLink]="javascript:void(0);"&gt;&lt;img src="assets/images/gallery/pic7.jpg" alt=""&gt;&lt;/a&gt; &lt;/li&gt;
            &lt;li class="img-effect2"&gt; &lt;a [routerLink]="javascript:void(0);"&gt;&lt;img src="assets/images/gallery/pic8.jpg" alt=""&gt;&lt;/a&gt; &lt;/li&gt;
            &lt;li class="img-effect2"&gt; &lt;a [routerLink]="javascript:void(0);"&gt;&lt;img src="assets/images/gallery/pic9.jpg" alt=""&gt;&lt;/a&gt; &lt;/li&gt;
            &lt;li class="img-effect2"&gt; &lt;a [routerLink]="javascript:void(0);"&gt;&lt;img src="assets/images/gallery/pic1.jpg" alt=""&gt;&lt;/a&gt; &lt;/li&gt;
            &lt;li class="img-effect2"&gt; &lt;a [routerLink]="javascript:void(0);"&gt;&lt;img src="assets/images/gallery/pic2.jpg" alt=""&gt;&lt;/a&gt; &lt;/li&gt;
            &lt;li class="img-effect2"&gt; &lt;a [routerLink]="javascript:void(0);"&gt;&lt;img src="assets/images/gallery/pic3.jpg" alt=""&gt;&lt;/a&gt; &lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;


    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;!-- footer bottom part --&gt;
&lt;div class="footer-bottom"&gt;
  &lt;div class="container"&gt;
    &lt;div class="row"&gt;
      &lt;div class="col-md-6 col-sm-6 text-left "&gt; &lt;span&gt;Copyright © 2024 DexignZone&lt;/span&gt; &lt;/div&gt;
      &lt;div class="col-md-6 col-sm-6 text-right "&gt;
        &lt;div class="widget-link "&gt;
          &lt;ul&gt;
            &lt;li&gt;&lt;a [routerLink]="['/help-desk']"&gt; Help Desk&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a [routerLink]="['/privacy-policy']"&gt; Privacy Policy&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;/footer&gt;
&lt;!-- Footer END --&gt;
</pre>
          </div>
        </div>
      </div>
      <!-- Code Box End -->
    </div>
    <!-- contact area END -->
  </div>
  <!-- Content END-->
  <!-- Footer -->
  <app-footer5></app-footer5>
  <!-- Footer END -->
  <!-- scroll top button -->
  <button class="scroltop fa fa-chevron-up"(click)="scroll_top()"></button>
</div>
