<div class="page-wraper">
  <!-- header -->
  <app-header-light3></app-header-light3>
  <!-- header END -->
  <!-- Content -->
  <div class="page-content bg-white">
    <!-- inner page banner -->
    <app-banner1 [data]="banner"></app-banner1>
    <!-- inner page banner END -->
    <!-- contact area -->
    <div class="content-block">
      <!-- Career -->
      <div class="section-full content-inner bg-gray">
        <div class="container">
          <div class="row">
            <!-- Left part start -->
            <div class="col-lg-8 col-md-7 col-sm-12 inner-text">
							<h2 class="title">Help Desk</h2>
							<p><strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type specimen book.</strong></p>
							<h4 class="title">Emergency Service</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
								text ever since the  when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is
								simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
								when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
								text ever since the  when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
							<h4 class="title">Tips </h4>
							<ul class="list-check primary">
								<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</li>
								<li>Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</li>
								<li>Printer took a galley of type and scrambled it to make a type specimen book. </li>
								<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</li>
								<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the dummy book. </li>
								<li>Eorem ipsum dolor sit amete printing and typesetting industry. </li>
							</ul>
							<h4  class="title">Health Care</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
								text ever since the  when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply
								dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the  when an
								unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
								the industry's standard dummy text ever since the  when an unknown printer took a galley of type and
								scrambled it to make a type specimen book. </p>
							<h4 class="title">Our Help </h4>
							<ul class="list-check primary">
								<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</li>
								<li>Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</li>
								<li>Printer took a galley of type and scrambled it to make a type specimen book. </li>
								<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</li>
								<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the dummy book. </li>
								<li>Eorem ipsum dolor sit amete printing and typesetting industry. </li>
							</ul>
						</div>
            <div class="col-lg-4 col-md-5 col-sm-12 m-b30">
              <app-icon-box4></app-icon-box4>
            </div>
            <!-- Left part start END -->
          </div>
        </div>
      </div>
      <!-- Career END -->
    </div>
  </div>
  <!-- Content END-->
  <!-- Footer -->
  <app-footer13></app-footer13>
  <!-- Footer End -->
 <button class="scroltop fa fa-chevron-up" (click)="scroll_top()"></button>
</div>
