<div class="icon-bx-wraper bx-style-1 p-a30 center fly-box m-b30 bg-white">
  <div class="icon-sm m-b20"> <a href="javascript:void(0);" class="icon-cell"><i class="ti-headphone-alt"></i></a>
  </div>
  <div class="icon-content">
    <h5 class="dlab-tilte text-uppercase">Unique design</h5>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam.</p>
    <a href="javascript:void(0);" class="site-button">View More</a>
  </div>
</div>
<div class="icon-bx-wraper bx-style-1 p-a30 center fly-box m-b30 bg-white">
  <div class="icon-sm m-b20"> <a href="javascript:void(0);" class="icon-cell"><i class="ti-ruler-pencil"></i></a> </div>
  <div class="icon-content">
    <h5 class="dlab-tilte text-uppercase">Make it Simple</h5>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam.</p>
    <a href="javascript:void(0);" class="site-button">View More</a>
  </div>
</div>
<div class="icon-bx-wraper bx-style-1 p-a30 center fly-box bg-white">
  <div class="icon-sm m-b20"> <a href="javascript:void(0);" class="icon-cell text-primary"><i
        class="ti-desktop"></i></a> </div>
  <div class="icon-content">
    <h5 class="dlab-tilte text-uppercase">Different Layout</h5>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam.</p>
    <a href="javascript:void(0);" class="site-button">View More</a>
  </div>
</div>
