<div class="page-wraper">
  <!-- header -->
  <app-header-light7></app-header-light7>
  <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
      <!-- Slider -->
      <app-slider2></app-slider2>
      <!-- Slider END -->
      <!-- contact area -->
      <div class="content-block">
      <!-- Content Section -->
      <app-services-element2></app-services-element2>
      <!-- Content Section End -->
    </div>
    <!-- contact area END -->
  </div>
  <!-- Content END -->
  <!-- Footer -->
  <app-footer20></app-footer20>
  <!-- Footer End -->
  <button class="scroltop style1 radius" (click)="scroll_top()" type="button"><i class="fa fa-arrow-up"></i></button>
</div>
