<div class="section-full bg-white content-inner-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
        <div class="icon-bx-wraper sr-iconbox style2">
          <div class="icon-lg m-b10">
            <a href="javascript:void(0)" class="icon-cell"><i class="flaticon-worker"></i></a>
          </div>
          <div class="icon-content">
            <h4 class="dlab-tilte">Interior design</h4>
            <p>I have worked with many companies offering supplemental industrial services, and out of all those companies </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
        <div class="icon-bx-wraper sr-iconbox style2">
          <div class="icon-lg m-b10">
            <a href="javascript:void(0)" class="icon-cell"><i class="flaticon-factory-1"></i></a>
          </div>
          <div class="icon-content">
            <h4 class="dlab-tilte">Architecture</h4>
            <p>I have worked with many companies offering supplemental industrial services, and out of all those companies </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.9s">
        <div class="icon-bx-wraper sr-iconbox style2">
          <div class="icon-lg m-b10">
            <a href="javascript:void(0)" class="icon-cell"><i class="flaticon-design-tools"></i></a>
          </div>
          <div class="icon-content">
            <h4 class="dlab-tilte">Product design</h4>
            <p>I have worked with many companies offering supplemental industrial services, and out of all those companies </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
        <div class="icon-bx-wraper sr-iconbox style2">
          <div class="icon-lg m-b10">
            <a href="javascript:void(0)" class="icon-cell"><i class="flaticon-settings"></i></a>
          </div>
          <div class="icon-content">
            <h4 class="dlab-tilte">Accreditation</h4>
            <p>I have worked with many companies offering supplemental industrial services, and out of all those companies </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
        <div class="icon-bx-wraper sr-iconbox style2">
          <div class="icon-lg m-b10">
            <a href="javascript:void(0)" class="icon-cell"><i class="flaticon-worker"></i></a>
          </div>
          <div class="icon-content">
            <h4 class="dlab-tilte">Foundations</h4>
            <p>I have worked with many companies offering supplemental industrial services, and out of all those companies </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.9s">
        <div class="icon-bx-wraper sr-iconbox style2">
          <div class="icon-lg m-b10">
            <a href="javascript:void(0)" class="icon-cell"><i class="flaticon-factory-2"></i></a>
          </div>
          <div class="icon-content">
            <h4 class="dlab-tilte">Enrollment</h4>
            <p>I have worked with many companies offering supplemental industrial services, and out of all those companies </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
