<div class="section-full call-action bg-primary wow fadeIn" data-wow-duration="2s" data-wow-delay="0.9s">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 text-white">
        <h2 class="title">Amazing things happen to your business </h2>
        <p class="m-b0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="col-lg-3 d-flex">
        <a [routerLink]="['/contact-2']" class="site-button white align-self-center outline ml-auto outline-2 btnhover14">Get In Touch</a>
      </div>
    </div>
  </div>
</div>
