<div class="page-wraper">
  <!-- header -->
  <app-header-light3></app-header-light3>

  <!-- Content -->
  <div class="page-content bg-white">
    <!-- inner page banner -->
    <app-banner1 [data]="banner"></app-banner1>

    <!-- contact area -->
    <div class="content-block">
      <!-- Your Faq -->
      <div class="section-full overlay-white-middle content-inner" style="background-image:url(assets/images/pattern/pt1.jpg);">
        <div class="container">
          <div class="section-head text-black text-center">
            <h3 class="title">Do you have Questions?</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-12 m-b30">
              <div class="faq-video">
								<a class="play-btn popup-youtube" href="https://www.youtube.com/watch?v=_FRZVScwggM">
								<i class="flaticon-play-button text-white"></i></a>
								<img src="assets/images/about/pic5.jpg" alt="" class="img-cover radius-sm">
							</div>
            </div>
            <div class="col-lg-6 col-md-12 m-b30">
              <div class="dlab-accordion faq-1 box-sort-in m-b30" id="accordion1">
                <div class="panel">
                  <div class="acod-head">
                    <h6 class="acod-title">
                      <a href="javascript:void(0);" data-toggle="collapse" data-target="#faq1" class="collapsed" aria-expanded="true">  1. Web design aorem apsum dolor sit amet?</a>
                    </h6>
                  </div>
                  <div id="faq1" class="acod-body collapse" data-parent="#accordion1">
                    <div class="acod-content">Web design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                  </div>
                </div>
                <div class="panel">
                  <div class="acod-head">
                    <h6 class="acod-title">
                      <a href="javascript:void(0);" data-toggle="collapse" data-target="#faq2" class="collapsed" aria-expanded="false"> 2. Graphic design aorem apsum dolor ?</a>
                    </h6>
                  </div>
                  <div id="faq2" class="acod-body collapse" data-parent="#accordion1">
                    <div class="acod-content">Graphic design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                  </div>
                </div>
                <div class="panel">
                  <div class="acod-head">
                    <h6 class="acod-title">
                      <a href="javascript:void(0);" data-toggle="collapse" data-target="#faq3" class="collapsed" aria-expanded="false">  3. Developement aorem apsum dolor sit amet ? </a>
                    </h6>
                  </div>
                  <div id="faq3" class="acod-body collapse" data-parent="#accordion1">
                    <div class="acod-content">Developement aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                  </div>
                </div>
                <div class="panel">
                  <div class="acod-head">
                    <h6 class="acod-title">
                      <a href="javascript:void(0);" data-toggle="collapse" data-target="#faq4" class="collapsed" aria-expanded="false"> 4. True Responsiveness consectetuer adipiscing ? </a>
                    </h6>
                  </div>
                  <div id="faq4" class="acod-body collapse" data-parent="#accordion1">
                    <div class="acod-content">Developement aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                  </div>
                </div>
                <div class="panel">
                  <div class="acod-head">
                    <h6 class="acod-title">
                      <a href="javascript:void(0);" data-toggle="collapse" data-target="#faq5" class="collapsed" aria-expanded="false"> 5. Claritas est etiam processus ?</a>
                    </h6>
                  </div>
                  <div id="faq5" class="acod-body collapse" data-parent="#accordion1">
                    <div class="acod-content">Developement aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Faq Info -->
          <app-icon-box2></app-icon-box2>
          <!-- Faq Info END -->
        </div>
      </div>
      <!-- Your Faq End -->
    </div>
    <!-- contact area END -->
  </div>
  <!-- Content END-->
  <!-- Footer -->
  <app-footer13></app-footer13>
  <!-- Footer End -->
 <button class="scroltop fa fa-chevron-up" (click)="scroll_top()"></button>
</div>
