<div class="section-full bg-img-fix content-inner-3 overlay-black-dark contact-action" style="background-image:url(assets/images/background/bg18.jpg);">
  <div class="container">
    <div class="row relative text-center wow fadeIn" data-wow-duration="2s" data-wow-delay="0.9s">
      <div class="col-md-12 col-lg-12 m-b30">
        <div class="contact-no-area">
          <h2 class="title">Plastic Waste Managment<br/> & Recycling</h2>
          <div class="contact-no justify-content-center">
            <div class="contact-left">
              <h3 class="no"><i class="sl-call-in"></i>123-456-7890</h3>
            </div>
            <div class="contact-right">
              <a [routerLink]="['/contact-2']" class="site-button btnhover20 appointment-btn">Get Appointment</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
