<div class="widget widget_tag_cloud radius">
  <h5 class="widget-title style-1">Tags</h5>
  <div class="tagcloud">
    <a href="javascript:void(0);">Design</a>
    <a href="javascript:void(0);">User interface</a>
    <a href="javascript:void(0);">SEO</a>
    <a href="javascript:void(0);">WordPress</a>
    <a href="javascript:void(0);">Development</a>
    <a href="javascript:void(0);">Joomla</a>
    <a href="javascript:void(0);">Design</a>
    <a href="javascript:void(0);">User interface</a>
    <a href="javascript:void(0);">SEO</a>
    <a href="javascript:void(0);">WordPress</a>
    <a href="javascript:void(0);">Development</a>
    <a href="javascript:void(0);">Joomla</a>
    <a href="javascript:void(0);">Design</a>
    <a href="javascript:void(0);">User interface</a>
    <a href="javascript:void(0);">SEO</a>
    <a href="javascript:void(0);">WordPress</a>
    <a href="javascript:void(0);">Development</a>
    <a href="javascript:void(0);">Joomla</a>
  </div>
</div>
