
<div class="page-wraper">
  <!-- header -->
  <app-header-light3></app-header-light3>

  <!-- Content -->
  <div class="page-content bg-white">
    <!-- inner page banner -->
    <app-banner1 [data] = "banner"></app-banner1>

    <!-- contact area -->
    <div class="content-block">
      <!-- About Us -->
      <app-content7 [data] = "story"></app-content7>
      <!-- About Us End -->
      <!-- Abouts -->
      <app-content12></app-content12>
      <!-- Abouts END -->
      <!-- Our Services -->
      <app-services-element19></app-services-element19>
      <!-- Our Services End -->
      <!-- About progress -->
      <app-content13></app-content13>
      <!-- About progress END -->
    </div>
  <!-- contact area END -->
  </div>
  <!-- Footer -->
  <app-footer13></app-footer13>
 <button class="scroltop fa fa-chevron-up" (click)="scroll_top()"></button>
</div>
