<footer class="site-footer footer-full text-white">
  <div class="p-tb60 {{ footerClass? footerClass:'bg-primary' }}">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-md-left text-center footer-logo">
          <img src="assets/images/logo-light.png" alt="" width="100">
          <p class="m-b0 m-t10">Copyright &copy; 2024 DexignZone</p>
        </div>
        <div class="col-md-6 text-md-right text-center">
          <div class="widget-link ">
            <ul>
              <li><a [routerLink]="['/index']">Home</a></li>
              <li><a [routerLink]="['/about-2']">About us</a></li>
              <li><a [routerLink]="['/help-desk']">Help Desk</a></li>
              <li><a [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
              <li><a [routerLink]="['/contact-1']">Contact Us</a></li>
            </ul>
          </div>
          <ul class="list-inline m-b0 m-t10">
            <li><a href="javascript:void(0);" class="site-button-link facebook hover"><i class="fa fa-facebook"></i></a></li>
            <li><a href="javascript:void(0);" class="site-button-link google-plus hover"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="javascript:void(0);" class="site-button-link linkedin hover"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="javascript:void(0);" class="site-button-link instagram hover"><i class="fa fa-instagram"></i></a></li>
            <li><a href="javascript:void(0);" class="site-button-link twitter hover"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
