<div class="section-full bg-white content-inner-2">
  <div class="container">
    <div class="section-head text-center">
      <h2 class="title">Our Gallery</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="site-filters m-b20">
          <ul class="filters" data-toggle="buttons">
            <li data-filter="" class="btn active"><input type="radio"><a href="#" class="site-button btnhover10 outline outline-2 button-sm"><span>All</span></a></li>
            <li data-filter="healty" class="btn"><input type="radio"><a href="#" class="site-button btnhover10 outline outline-2 button-sm"><span>Healty Food</span></a></li>
            <li data-filter="food" class="btn"><input type="radio"><a href="#" class="site-button btnhover10 outline outline-2 button-sm"><span>Food</span></a></li>
            <li data-filter="organic" class="btn"><input type="radio"><a href="#" class="site-button btnhover10 outline outline-2 button-sm"><span>Organic</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row sp15">
      <div class="col-lg-12">
        <ul id="masonry" class="dlab-gallery-listing gallery mfp-gallery text-center">
          <li class="card-container col-lg-3 col-md-6 col-sm-6 healty food m-b15 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.3s">
            <div class="dlab-media dlab-img-overlay1 dlab-img-effect portbox1 style1">
              <img src="assets/images/gallery/food/pic1.jpg" alt="" />
              <div class="overlay-bx">
                <div class="portinner">
                  <h3 class="port-title"><a [routerLink]="['/portfolio-details']">Cookies</a></h3>
                </div>
              </div>
            </div>
          </li>
          <li class="card-container col-lg-3 col-md-6 col-sm-6 food organic m-b15 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
            <div class="dlab-media dlab-img-overlay1 dlab-img-effect portbox1 style1">
              <img src="assets/images/gallery/food/pic2.jpg" alt="" />
              <div class="overlay-bx">
                <div class="portinner">
                  <h3 class="port-title"><a [routerLink]="['/portfolio-details']">Ice cream</a></h3>
                </div>
              </div>
            </div>
          </li>
          <li class="card-container col-lg-3 col-md-6 col-sm-6 healty m-b15 wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.3s">
            <div class="dlab-media dlab-img-overlay1 dlab-img-effect portbox1 style1">
              <img src="assets/images/gallery/food/pic3.jpg" alt="" />
              <div class="overlay-bx">
                <div class="portinner">
                  <h3 class="port-title"><a [routerLink]="['/portfolio-details']">Bear cup</a></h3>
                </div>
              </div>
            </div>
          </li>
          <li class="card-container col-lg-3 col-md-6 col-sm-6 healty food m-b15 wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.3s">
            <div class="dlab-media dlab-img-overlay1 dlab-img-effect portbox1 style1">
              <img src="assets/images/gallery/food/pic4.jpg" alt="" />
              <div class="overlay-bx">
                <div class="portinner">
                  <h3 class="port-title"><a [routerLink]="['/portfolio-details']">Burger</a></h3>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
