<div class="section-full content-inner bg-gray">
  <ng-template ngFor let-teamData [ngForOf]="data">
    <div class="container">
      <div class="section-head style2 text-center">
        <h2 class="title">{{teamData.section_title}}</h2>
        <p>{{teamData.section_description}}</p>
      </div>
      <owl-carousel-o [options]="customOptions" class="team-carousel owl-btn-3 owl-theme owl-btn-center-lr">
        <ng-template carouselSlide *ngFor="let team of teamData.team">
          <div class="item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
            <div class="dlab-box m-b30 dlab-team7">
              <div class="dlab-media">
                <a href="javascript:void(0);">
                  <img alt="" src="{{team.image}}">
                </a>
              </div>
              <div class="dlab-info">
                <h4 class="dlab-title"><a [routerLink]="['/team-1']">{{team.name}}</a></h4>
                <span class="dlab-position">{{team.role}}</span>
                <ul class="dlab-social-icon">
                  @for(social of team.social_link; track social){
                  <li>
                    <a target="_blank" class="site-button circle-sm gray-light fa {{social.icon_class}}" title="{{social.title}}" href="{{social.link}}"></a>
                  </li>
                  }
                </ul>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </ng-template>
</div>
