<div class="section-full content-inner-1 frame-sr-list-area">
  <div class="section-head text-center">
    <h2 class="title">Our Services</h2>
    <div class="dlab-separator bg-primary m-b0"></div>
  </div>
  <div class="row align-items-center">
    <div class="col-lg-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
      <ul class="service-list">
        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</li>
        <li>when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
        <li>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</li>
        <li>it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</li>
        <li>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</li>
      </ul>
    </div>
    <div class="col-lg-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
      <ul class="service-list">
        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</li>
        <li>when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
        <li>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</li>
        <li>it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</li>
        <li>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</li>
      </ul>
    </div>
  </div>
  <div class="m-t40 text-center">
    <a [routerLink]="['/services']" class="site-button btnhover14">View All Services</a>
  </div>
</div>
