<footer class="site-footer text-uppercase bg-black-2">
  <div class="footer-top" style="background-image:url(assets/images/background/bg3.png); background-size: contain;">
    <div class="container saf-footer">
      <div class="row">
        <div class="col-md-6 col-lg-3 col-sm-6 footer-col-4">
          <div class="widget widget_getintuch">
            <h5 class="m-b30 text-white ">Contact us</h5>
            <ul>
              <li><i class="ti-location-pin"></i><strong>address</strong> demo address #8901 Marmora Road Chi Minh City,
                Vietnam </li>
              <li><i class="ti-mobile"></i><strong>phone</strong>0800-123456 (24/7 Support Line)</li>
              <li><i class="ti-email"></i><strong>email</strong>{{ email }}</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-6 col-5 footer-col-4">
          <div class="widget widget_services border-0">
            <h5 class="m-b30 text-white">Company</h5>
            <ul>
              <li><a [routerLink]="['/index']">About Us </a></li>
              <li><a [routerLink]="['/index']">Home </a></li>
              <li><a [routerLink]="['/contact']">Contact Us</a></li>
              <li><a [routerLink]="['/about-1']">About Us</a></li>
              <li><a [routerLink]="['/services-2']">Our Services</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-6 col-7 footer-col-4">
          <div class="widget widget_services border-0">
            <h5 class="m-b30 text-white">Useful Link</h5>
            <ul>
              <li><a [routerLink]="['/index']">Create Account</a></li>
              <li><a [routerLink]="['/index']">Company Philosophy </a></li>
              <li><a [routerLink]="['/contact']">Corporate Culture</a></li>
              <li><a [routerLink]="['/about-1']">Portfolio</a></li>
              <li><a [routerLink]="['/services-2']">Client Management</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-6 footer-col-4">
          <div class="widget widget_gallery gallery-grid-4">
            <h5 class="m-b30 text-white">Gallery</h5>
            <ul>
              <li class="img-effect2"> <a href="javascript:void(0);"><img src="assets/images/gallery/pic1.jpg" alt=""></a> </li>
              <li class="img-effect2"> <a href="javascript:void(0);"><img src="assets/images/gallery/pic2.jpg" alt=""></a> </li>
              <li class="img-effect2"> <a href="javascript:void(0);"><img src="assets/images/gallery/pic3.jpg" alt=""></a> </li>
              <li class="img-effect2"> <a href="javascript:void(0);"><img src="assets/images/gallery/pic4.jpg" alt=""></a> </li>
              <li class="img-effect2"> <a href="javascript:void(0);"><img src="assets/images/gallery/pic5.jpg" alt=""></a> </li>
              <li class="img-effect2"> <a href="javascript:void(0);"><img src="assets/images/gallery/pic6.jpg" alt=""></a> </li>
              <li class="img-effect2"> <a href="javascript:void(0);"><img src="assets/images/gallery/pic7.jpg" alt=""></a> </li>
              <li class="img-effect2"> <a href="javascript:void(0);"><img src="assets/images/gallery/pic8.jpg" alt=""></a> </li>
              <li class="img-effect2"> <a href="javascript:void(0);"><img src="assets/images/gallery/pic9.jpg" alt=""></a> </li>
              <li class="img-effect2"> <a href="javascript:void(0);"><img src="assets/images/gallery/pic1.jpg" alt=""></a> </li>
              <li class="img-effect2"> <a href="javascript:void(0);"><img src="assets/images/gallery/pic2.jpg" alt=""></a> </li>
              <li class="img-effect2"> <a href="javascript:void(0);"><img src="assets/images/gallery/pic3.jpg" alt=""></a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer bottom part -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 text-left "> <span>Copyright © 2024 DexignZone</span> </div>
        <div class="col-md-6 col-sm-6 text-right ">
          <div class="widget-link ">
            <ul>
              <li><a [routerLink]="['/help-desk']"> Help Desk</a></li>
              <li><a [routerLink]="['/privacy-policy']"> Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
