<div class="comment-respond" id="respond">
  <h4 class="comment-reply-title" id="reply-title">
    Leave a Reply <small> <a style="display:none;"  href="javascript:void(0);" id="cancel-comment-reply-link" rel="nofollow">Cancel reply</a> </small>
  </h4>
  <form class="comment-form" id="commentform" method="post" action="">
    <p class="comment-form-author">
      <label for="author">Name <span class="required">*</span></label>
      <input type="text" value="Author" name="Author" placeholder="Author" id="author">
    </p>
    <p class="comment-form-email">
      <label for="email">Email <span class="required">*</span></label>
      <input type="text" value="email" placeholder="Email" name="email" id="email">
    </p>
    <p class="comment-form-url">
      <label for="url">Website</label>
      <input type="text" value="url" placeholder="Website" name="url" id="url">
    </p>
    <p class="comment-form-comment">
      <label for="comment">Comment</label>
      <textarea rows="8" name="comment" placeholder="Comment" id="comment"></textarea>
    </p>
    <p class="form-submit">
      <input type="submit" value="Post Comment" class="submit" id="submit" name="submit">
    </p>
  </form>
</div>
