<ng-template ngFor let-galleryData [ngForOf]="data">
  <div class="section-head">
    <h2 class="title">Image Gallery</h2>
    <div class="dlab-separator bg-primary m-b0"></div>
  </div>
  <div id="lightgallery" class="dlab-gallery-listing row sp15 gallery">
    <div class="col-lg-4 col-md-4 col-sm-4 col-6 wow bounceInUp" data-wow-duration="2s" data-wow-delay="0.1s">
      <div class="dlab-box m-b15">
        <div class="dlab-img-overlay4 dlab-img-effect zoom">
          <a href="javascript:void(0);">
            <img src="assets/images/gallery/agriculture/pic1.jpg" alt="">
          </a>
          <div class="overlay-bx">
            <div class="overlay-icon">
              <span data-exthumbimage="assets/images/gallery/pic1.jpg" data-src="assets/images/gallery/pic1.jpg" class="check-km" title="Image 1 Title will come here">
                <i class="fa fa-search icon-bx-xs"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-6 wow bounceInUp" data-wow-duration="2s" data-wow-delay="0.2s">
      <div class="dlab-box m-b15">
        <div class="dlab-img-overlay4 dlab-img-effect zoom">
          <a href="javascript:void(0);">
            <img src="assets/images/gallery/agriculture/pic2.jpg" alt="">
          </a>
          <div class="overlay-bx">
            <div class="overlay-icon">
              <span class="check-km" data-exthumbimage="assets/images/gallery/pic2.jpg" data-src="assets/images/gallery/pic2.jpg" title="Image 2 Title will come here">
                <i class="fa fa-search icon-bx-xs"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-6 wow bounceInUp" data-wow-duration="2s" data-wow-delay="0.3s">
      <div class="dlab-box m-b15">
        <div class="dlab-img-overlay4 dlab-img-effect zoom">
          <a href="javascript:void(0);">
            <img src="assets/images/gallery/agriculture/pic3.jpg" alt="">
          </a>
          <div class="overlay-bx">
            <div class="overlay-icon">
              <span class="check-km" data-exthumbimage="assets/images/gallery/pic3.jpg" data-src="assets/images/gallery/pic3.jpg" title="Image 3 Title will come here">
                <i class="fa fa-search icon-bx-xs"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-6 wow bounceInUp" data-wow-duration="2s" data-wow-delay="0.4s">
      <div class="dlab-box m-b15">
        <div class="dlab-img-overlay4 dlab-img-effect zoom">
          <a href="javascript:void(0);">
            <img src="assets/images/gallery/agriculture/pic4.jpg" alt="">
          </a>
          <div class="overlay-bx">
            <div class="overlay-icon">
              <span class="check-km" data-exthumbimage="assets/images/gallery/pic4.jpg"
                data-src="assets/images/gallery/pic4.jpg" title="Image 4 Title will come here">
                <i class="fa fa-search icon-bx-xs"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-6 wow bounceInUp" data-wow-duration="2s" data-wow-delay="0.5s">
      <div class="dlab-box m-b15">
        <div class="dlab-img-overlay4 dlab-img-effect zoom">
          <a href="javascript:void(0);">
            <img src="assets/images/gallery/agriculture/pic5.jpg" alt="">
          </a>
          <div class="overlay-bx">
            <div class="overlay-icon">
              <span class="check-km" data-exthumbimage="assets/images/gallery/pic5.jpg" data-src="assets/images/gallery/pic5.jpg" title="Image 5 Title will come here">
                <i class="fa fa-search icon-bx-xs"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-6 wow bounceInUp" data-wow-duration="2s" data-wow-delay="0.6s">
      <div class="dlab-box m-b15">
        <div class="dlab-img-overlay4 dlab-img-effect zoom">
          <a href="javascript:void(0);">
            <img src="assets/images/gallery/agriculture/pic6.jpg" alt="">
          </a>
          <div class="overlay-bx">
            <div class="overlay-icon">
              <span class="check-km" data-exthumbimage="assets/images/gallery/pic6.jpg" data-src="assets/images/gallery/pic6.jpg" title="Image 6 Title will come here">
                <i class="fa fa-search icon-bx-xs"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-t20">
    <a href="#" class="site-button btnhover14">View All Image</a>
  </div>
</ng-template>
