<div class="section-full call-action bg-primary wow fadeIn mt-3" data-wow-duration="2s" data-wow-delay="0.3s">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 text-white">
        <h2 class="title">Go Solar & Save 10-30%* on Your Energy Rate</h2>
        <p class="m-b0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="col-lg-3 d-flex">
        <a [routerLink]="['/contact-1']" class="site-button btnhover15 white align-self-center outline ml-auto radius-xl outline-2">Contact Us </a>
      </div>
    </div>
  </div>
</div>
