<div class="section-full bg-gray content-inner">
  <div class="container">
    <div class="section-head text-center">
      <h2 class="title"> Our Services</h2>
      <p>There are many variations of passages of Lorem Ipsum typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
    </div>
    <div class="section-content row">
      <div class="col-md-6 col-lg-4 col-sm-12 service-box style3 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
        <div class="icon-bx-wraper" data-name="01">
          <div class="icon-lg">
            <a href="javascript:void(0);" class="icon-cell"><i class="flaticon-robot-arm"></i></a>
          </div>
          <div class="icon-content">
            <h2 class="dlab-tilte">Mechanical Works</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-sm-12 service-box style3 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
        <div class="icon-bx-wraper" data-name="02">
          <div class="icon-lg">
            <a href="javascript:void(0);" class="icon-cell"><i class="flaticon-factory-1"></i></a>
          </div>
          <div class="icon-content">
            <h2 class="dlab-tilte">Power & Energy</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-sm-12 service-box style3 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
        <div class="icon-bx-wraper" data-name="03">
          <div class="icon-lg">
            <a href="javascript:void(0);" class="icon-cell"><i class="flaticon-fuel-station"></i></a>
          </div>
          <div class="icon-content">
            <h2 class="dlab-tilte">Petroleum Refinery</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-sm-12 service-box style3 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.8s">
        <div class="icon-bx-wraper" data-name="04">
          <div class="icon-lg">
            <a href="javascript:void(0);" class="icon-cell"><i class="flaticon-fuel-truck"></i></a>
          </div>
          <div class="icon-content">
            <h2 class="dlab-tilte">Oil & Gas Industry</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-sm-12 service-box style3 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
        <div class="icon-bx-wraper" data-name="05">
          <div class="icon-lg">
            <a href="javascript:void(0);" class="icon-cell"><i class="flaticon-conveyor-1"></i></a>
          </div>
          <div class="icon-content">
            <h2 class="dlab-tilte">Automative Manufacturing</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-sm-12 service-box style3 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
        <div class="icon-bx-wraper" data-name="06">
          <div class="icon-lg">
            <a href="javascript:void(0);" class="icon-cell"><i class="flaticon-engineer-1"></i></a>
          </div>
          <div class="icon-content">
            <h2 class="dlab-tilte">Chemical Research</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
