<div class="section-full content-inner bg-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 m-b30 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
        <div class="our-story">
          <span>OUR STORY</span>
          <h2 class="title">Commited to High <br/> Quality <span class="text-primary">  Service </span></h2>
	  <h4 class="title">Yes! <br/> We're ISO Certified Manufacturers</h4>
          <p>At NK Gour Industries, quality isn’t just a promise—it’s a standard. As an ISO-certified company, we adhere to globally recognized practices in manufacturing, quality control, and verification. Our certification reflects our dedication to consistent, reliable, and high-performance production processes.

With a focus on precision engineering and customer-specific solutions, we proudly deliver products that meet both domestic and international quality benchmarks—ensuring trust, durability, and excellence in every unit we produce.</p>
	  <!-- <a [routerLink]="['/about-2']" class="site-button btnhover14">Read More</a>-->
        </div>
      </div>
      <div class="col-lg-6 col-md-6 m-b30 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
        <img src="/assets/images/our-work/steelplant/ISO-NK.png" class="radius-sm" alt="">
      </div>
    </div>
  </div>
</div>
