<div class="section-full content-inner-1 about-bx">
  <div class="row">
    <div class="col-lg-6 m-b30 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.3s">
      <div class="about-box">
        <div class="dlab-img-effect zoom">
          <img src="assets/images/about/about3.jpg" alt=""/>
        </div>
      </div>
    </div>
    <div class="col-lg-6 m-b30 align-self-center wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.3s">
      <div class="m-b15">
        <h2 class="m-b0">About <span class="text-primary">Agriculture</span></h2>
        <div class="dlab-separator bg-primary m-b0"></div>
      </div>
      <p><strong class="text-primary">Agriculture</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an printer took a galley of type and scrambled it to make.</p>
      <a [routerLink]="['/about-1']" class="site-button btnhover14">About Us</a>
    </div>
  </div>
</div>
