<div class="page-wraper">
  <!-- header -->
  <app-header-light3></app-header-light3>

  <!-- Content -->
  <div class="page-content bg-white">
    <!-- inner page banner -->
    <app-banner1 [data]="banner"></app-banner1>

    <!-- contact area -->
    <div class="section-full content-inner">
      <!-- Product -->
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="table-responsive">
              <table class="table check-tbl">
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Product name</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Close</th>
                  </tr>
                </thead>
                <tbody>
                  @for(item of product_list; track item; let i = $index){
                  <tr class="alert">
                    <td class="product-item-img">
                      <img src="{{ item.img }}" alt="">
                    </td>
                    <td class="product-item-name">{{ item.title }}</td>
                    <td class="product-item-price">{{ item.unitPrice | currency}}</td>
                    <td class="product-item-quantity">
                      <div class="quantity btn-quantity max-w80">
                        <input id="demo_vertical3" type="text" value="{{ item.quantity }}" name="demo_vertical2" />
                      </div>
                    </td>
                    <td class="product-item-totle">{{ item.price | currency}}</td>
                    <td class="product-item-close">
                      <a href="javascript:void(0);" data-dismiss="alert" aria-label="close" class="ti-close"></a>
                    </td>
                  </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 m-b15">
            <form class="shop-form">
              <h5>Calculate Shipping</h5>
              <div class="form-group">
                <select>
                  <option value="">Credit Card Type</option>
                  <option value="">Another option</option>
                  <option value="">A option</option>
                  <option value="">Potato</option>
                </select>
              </div>
              <div class="row">
                <div class="form-group col-lg-6">
                  <input type="text" class="form-control" placeholder="Credit Card Number">
                </div>
                <div class="form-group col-lg-6">
                  <input type="text" class="form-control" placeholder="Card Verification Number">
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Coupon Code">
              </div>
              <div class="form-group">
                <button class="site-button" type="button">Apply Coupon</button>
              </div>
            </form>
          </div>
          <div class="col-lg-6 m-b15">
            <h5>Cart Subtotal</h5>
            <table class="table-bordered check-tbl">
              <tbody>
                <tr>
                  <td>Order Subtotal</td>
                  <td>$125.96</td>
                </tr>
                <tr>
                  <td>Shipping</td>
                  <td>Free Shipping</td>
                </tr>
                <tr>
                  <td>Coupon</td>
                  <td>$28.00</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td>$506.00</td>
                </tr>
              </tbody>
            </table>
            <div class="form-group">
              <button class="site-button" type="button">Proceed to Checkout</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Product END -->
    </div>
    <!-- Shop Service info -->
    <app-icon-box3></app-icon-box3>
    <!-- Shop Service info End -->
  </div>
  <!-- Footer -->
  <app-footer19></app-footer19>

 <button class="scroltop fa fa-chevron-up" (click)="scroll_top()"></button>
</div>
