<footer class="site-footer footer-gray-1">
  <div class="section-full p-t50 p-b20 bg-primary text-white overlay-primary-dark footer-info-bar">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 m-b30">
          <div class="icon-bx-wraper bx-style-1 p-a20 radius-sm br-col-w1">
            <div class="icon-content">
              <h5 class="dlab-tilte">
                <span class="icon-sm"><i class="ti-location-pin"></i></span> Company Address
              </h5>
              <p class="op7">Demo address #8901 Marmora Road Chi Minh City, Vietnam</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 m-b30">
          <div class="icon-bx-wraper bx-style-1 p-a20 radius-sm br-col-w1">
            <div class="icon-content">
              <h5 class="dlab-tilte">
                <span class="icon-sm"><i class="ti-email"></i></span> E-mail
              </h5>
              <p class="m-b0 op7">{{ email1 }}</p>
              <p class="op7">{{ email2 }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 m-b30">
          <div class="icon-bx-wraper bx-style-1 p-a20 radius-sm br-col-w1">
            <div class="icon-content">
              <h5 class="dlab-tilte">
                <span class="icon-sm"><i class="ti-mobile"></i></span> Phone Numbers
              </h5>
              <p class="m-b0 op7">Mobile : +00 234 678 9012</p>
              <p class="op7">Phone : +0 1234 5678 90</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 m-b30">
          <div class="icon-bx-wraper bx-style-1 p-a20 radius-sm br-col-w1">
            <div class="icon-content">
              <h5 class="dlab-tilte">
                <span class="icon-sm"><i class="ti-alarm-clock"></i></span>Office Hours
              </h5>
              <p class="m-b0 op7">Mon To Sat - 08.00-18.00</p>
              <p class="op7">Sunday - Close</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 wow fadeIn" data-wow-delay="0.2s">
          <div class="widget border-0">
            <h6 class="m-b20 text-white font-weight-300 text-uppercase">Quick Links</h6>
            <ul class="list-2">
              <li><a [routerLink]="['/index']">Home</a></li>
              <li><a [routerLink]="['/index']">About us </a></li>
              <li><a [routerLink]="['/index']">Our Team</a></li>
              <li><a [routerLink]="['/index']">Hire Developers</a></li>
              <li><a [routerLink]="['/index']">Industries</a></li>
              <li><a [routerLink]="['/index']">Portfolio</a></li>
              <li><a [routerLink]="['/index']">Contact Us</a></li>
              <li><a [routerLink]="['/index']">Blogs</a></li>
              <li><a [routerLink]="['/index']">Testimonials</a></li>
              <li><a [routerLink]="['/index']">Careers</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 wow fadeIn" data-wow-delay="0.4s">
          <div class="widget">
            <h6 class="m-b20 text-white font-weight-300 text-uppercase">Newsletter</h6>
            <div class="subscribe-form m-b20 m-t30">
              <form class="dzSubscribe" [formGroup]="subscribeForm" (ngSubmit)="onSubmit()">
                <div class="dzSubscribeMsg"></div>
                <div class="input-group">
                  <input name="email" formControlName="email" class="form-control radius-no" placeholder="Your Email Address" type="email">
                  <span class="input-group-btn">
                    <button name="submit" value="Submit" type="submit" class="site-button radius-no">SEND</button>
                  </span>
                </div>
              </form>
              @if(message){
                <p [ngClass]="{ 'text-success': success, 'text-danger': !success }">{{ message }}</p>
              }
            </div>
            <h6 class="m-b10 text-white font-weight-300 text-uppercase">Connect with us</h6>
            <ul class="list-inline m-a0">
              <li><a href="javascript:void(0);" class="site-button facebook sharp"><i class="fa fa-facebook"></i></a></li>
              <li><a href="javascript:void(0);" class="site-button google-plus sharp"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="javascript:void(0);" class="site-button linkedin sharp"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="javascript:void(0);" class="site-button instagram sharp"><i class="fa fa-instagram"></i></a></li>
              <li><a href="javascript:void(0);" class="site-button twitter sharp"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 wow fadeIn" data-wow-delay="0.6s">
          <div class="icon-bx-wraper bx-style-1 p-a30 radius-sm br-col-w1 bg-tpw1">
            <h5 class="text-white font-weight-300">Serving in 70+ countries for web, software and mobile app development </h5>
            <p>United States (USA), United Kingdom (UK), Singapore, Kenya, South Africa Germany, Canada, Australia, Netherlands, Norway, United Arab Emirates (UAE) , Finland etc. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer bottom part -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 text-left "> <span>Copyright © 2024 DexignZone. all rights reserved.</span> </div>
        <div class="col-md-6 col-sm-6 text-right ">
          <div class="widget-link ">
            <ul>
              <li><a [routerLink]="['/help-desk']"> Help Desk</a></li>
              <li><a [routerLink]="['/privacy-policy']"> Refund Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
