<div class="section-full content-inner bg-white video-section" style="background-image:url('assets/images/background/bg-video.png');">
  <div class="container">
    <div class="section-content">
      <div class="row d-flex">
        <div class="col-lg-6 col-md-12 m-b30">
          <div class="video-bx">
            <img src="assets/images/about/pic5.jpg" alt="Signature">
            <div class="video-play-icon">
              <a href="https://www.youtube.com/watch?v=_FRZVScwggM" class="popup-youtube video bg-primary"><i class="fa fa-play"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 m-b30 align-self-center video-infobx">
          <div class="content-bx1">
            <h2 class="m-b15 title">A company involved in<br><span class="text-primary"> service, maintenance</span></h2>
            <p class="m-b30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an.</p>
            <img src="assets/images/sign.png" width="200" alt=""/>
            <h4 class="m-b0">Jone Doe</h4>
            <span class="font-14">Company Director</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
