<div class="section-full box-about-list">
  <div class="row spno">
    <div class="col-lg-6 col-md-12">
      <img src="assets/images/about/pic3.jpg" alt="" class="img-cover" />
    </div>
    <div class="col-lg-6 col-md-12 bg-primary">
      <div class="max-w700 m-auto p-tb50 p-lr20">
        <div class="text-white">
          <h2>We're thriving and building <br />better products</h2>
        </div>
        <div class="icon-bx-wraper m-b30 left">
          <div class="icon-md">
            <a href="javascript:void(0);" class="icon-cell text-white">
              <i class="flaticon-factory"></i>
            </a>
          </div>
          <div class="icon-content">
            <h4 class="dlab-tilte">Material Engineering</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod..</p>
          </div>
        </div>
        <div class="icon-bx-wraper m-b30 left">
          <div class="icon-md">
            <a href="javascript:void(0);" class="icon-cell text-white">
              <i class="flaticon-settings"></i>
            </a>
          </div>
          <div class="icon-content">
            <h4 class="dlab-tilte">Chemical Research</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod..</p>
          </div>
        </div>
        <div class="icon-bx-wraper left">
          <div class="icon-md">
            <a href="javascript:void(0);" class="icon-cell text-white">
              <i class="flaticon-worker"></i>
            </a>
          </div>
          <div class="icon-content">
            <h4 class="dlab-tilte">Petroleum Engineering</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod..</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
