
<div class="page-wraper">


  <!-- header -->
  <app-header-light3></app-header-light3>
  <!-- header END -->
  <!-- Content -->
  <div class="page-content bg-white">
    <!-- inner page banner -->
    <app-banner1 [data] = "banner"></app-banner1>
    <!-- inner page banner END -->
    <!-- contact area -->
    <div class="content-block">
      <!-- Code Box -->
      <div class="section-full content-inner bg-white video-section" style="background-image:url('assets/images/background/bg-video.png');">
        <div class="container">
          <div class="footer-box">
            <div class="row align-items-center">
              <div class="col-lg-3 col-md-4">
                <img src="assets/images/footer.png" alt=""/>
              </div>
              <div class="col-lg-9 col-md-8">
                <h2 class="title">Check Footer Style 10</h2>
                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm.</p>
              </div>
            </div>
          </div>
          <div class="relative">
            <button id="copyButton" class="btn">Copy</button>
<pre class="code-box" id="copyTarget">
&lt;!-- Footer --&gt;
&lt;footer class="site-footer map-footer"&gt;
&lt;div class="footer-top"&gt;
  &lt;div class="container-fluid"&gt;
    &lt;div class="row equal-wraper" &gt;
      &lt;div class="col-md-4 col-lg-6 col-sm-12 p-a0 equal-col"&gt;
        &lt;iframe class="" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14444.846145183914!2d75.84806889203723!3d25.16233421040968!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1517832215254" style="border:0; width:100%; min-height:300px;  height:100%; vertical-align: middle;" allowfullscreen&gt;&lt;/iframe&gt;
      &lt;/div&gt;
      &lt;div class="col-md-8 col-lg-6 col-sm-12 equal-col"&gt;
        &lt;div class="p-tb60 p-lr15"&gt;
          &lt;div class="max-w600"&gt;
            &lt;div class="footer-logo m-b30"&gt;
              &lt;img src="assets/images/logo-white.png" alt="" width="120"/&gt;
            &lt;/div&gt;
            &lt;div class="m-b0"&gt;
              &lt;h5 class="m-b10 text-white"&gt;Subscribe To Our Newsletter&lt;/h5&gt;
              &lt;p class="text-capitalize m-b20"&gt;Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the..&lt;/p&gt;
              &lt;div class="subscribe-form m-b20"&gt;
                &lt;form class="dzSubscribe" action="script/mailchamp.php" method="post"&gt;
                  &lt;div class="dzSubscribeMsg"&gt;&lt;/div&gt;
                  &lt;div class="input-group"&gt;
                    &lt;input name="dzEmail" required="required"  class="form-control" placeholder="Your Email Address" type="email"&gt;
                    &lt;span class="input-group-btn"&gt;
                      &lt;button name="submit" value="Submit" type="submit" class="site-button radius-xl"&gt;Subscribe&lt;/button&gt;
                    &lt;/span&gt;
                  &lt;/div&gt;
                &lt;/form&gt;
              &lt;/div&gt;
              &lt;ul class="list-inline m-a0"&gt;
                &lt;li&gt;&lt;a href="javascript:void(0);" class="site-button facebook circle "&gt;&lt;i class="fa fa-facebook"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="javascript:void(0);" class="site-button google-plus circle "&gt;&lt;i class="fa fa-google-plus"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="javascript:void(0);" class="site-button linkedin circle "&gt;&lt;i class="fa fa-linkedin"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="javascript:void(0);" class="site-button instagram circle "&gt;&lt;i class="fa fa-instagram"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="javascript:void(0);" class="site-button twitter circle "&gt;&lt;i class="fa fa-twitter"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="footer-bottom text-left row"&gt;
          &lt;div class="col-md-12 col-sm-12 text-left p-lr30"&gt;
            &lt;span&gt;Copyright &copy; 2024 DexignZone&lt;/span&gt;
            &lt;div class="widget-link m-t10 "&gt;
              &lt;ul&gt;
                &lt;li&gt;&lt;a [routerLink]="['/index']"&gt; Home&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a [routerLink]="['/about-2']"&gt; About&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a [routerLink]="['/help-desk']"&gt; Help Desk&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a [routerLink]="['/privacy-policy']"&gt; Privacy Policy&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a [routerLink]="['/contact-1']"&gt; Contact Us&lt;/a&gt;&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;/footer&gt;
&lt;!-- Footer END--&gt;
</pre>
          </div>
        </div>
      </div>
      <!-- Code Box End -->
    </div>
    <!-- contact area END -->
  </div>
  <!-- Content END-->
  <!-- Footer -->
 <app-footer10></app-footer10>
  <!-- Footer END-->
  <!-- scroll top button -->
 <button class="scroltop fa fa-chevron-up" (click)="scroll_top()"></button>
</div>
