<div class="section-full content-inner bg-white">
  <div class="container">
    <div class="section-head text-black text-center">
      <h2 class="title">Quality With Dedication</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 m-b30 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.3s">
        <div class="dlab-box service-box-5">
          <div class="dlab-media radius-sm dlab-img-overlay1">
            <a [routerLink]="['/services-details']"><img src="assets/images/our-work/nuclear/pic1.jpg" alt=""></a>
          </div>
          <div class="dlab-info">
            <div class="icon-bx-sm icon-bx bg-primary icon-up">
              <a [routerLink]="['/services-details']" class="icon-cell"><i class="flaticon-worker"></i></a>
            </div>
            <h4 class="title"><a [routerLink]="['/services-details']">Solar Panels</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 m-b30 wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.3s">
        <div class="dlab-box service-box-5">
          <div class="dlab-media radius-sm dlab-img-overlay1">
            <a [routerLink]="['/services-details']"><img src="assets/images/our-work/nuclear/pic6.jpg" alt=""></a>
          </div>
          <div class="dlab-info">
            <div class="icon-bx-sm icon-bx bg-primary icon-up">
              <a [routerLink]="['/services-details']" class="icon-cell"><i class="flaticon-settings"></i></a>
            </div>
            <h4 class="title"><a [routerLink]="['/services-details']">Wind Turbines</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 m-b30 wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.3s">
        <div class="dlab-box service-box-5">
          <div class="dlab-media radius-sm dlab-img-overlay1">
            <a [routerLink]="['/services-details']"><img src="assets/images/our-work/nuclear/pic3.jpg" alt=""></a>
          </div>
          <div class="dlab-info">
            <div class="icon-bx-sm icon-bx bg-primary icon-up">
              <a [routerLink]="['/services-details']" class="icon-cell"><i class="flaticon-engineer-1"></i></a>
            </div>
            <h4 class="title"><a [routerLink]="['/services-details']">Green Equipment</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 m-b30 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.3s">
        <div class="dlab-box service-box-5">
          <div class="dlab-media radius-sm dlab-img-overlay1">
            <a [routerLink]="['/services-details']"><img src="assets/images/our-work/nuclear/pic4.jpg" alt=""></a>
          </div>
          <div class="dlab-info">
            <div class="icon-bx-sm icon-bx bg-primary icon-up">
              <a [routerLink]="['/services-details']" class="icon-cell"><i class="flaticon-factory-1"></i></a>
            </div>
            <h4 class="title"><a [routerLink]="['/services-details']">Installation</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 m-b30 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
        <div class="dlab-box service-box-5">
          <div class="dlab-media radius-sm dlab-img-overlay1">
            <a [routerLink]="['/services-details']"><img src="assets/images/our-work/nuclear/pic5.jpg" alt=""></a>
          </div>
          <div class="dlab-info">
            <div class="icon-bx-sm icon-bx bg-primary icon-up">
              <a [routerLink]="['/services-details']" class="icon-cell"><i class="flaticon-worker"></i></a>
            </div>
            <h4 class="title"><a [routerLink]="['/services-details']">Maintenance</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 m-b30 wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.3s">
        <div class="dlab-box service-box-5">
          <div class="dlab-media radius-sm dlab-img-overlay1">
            <a [routerLink]="['/services-details']"><img src="assets/images/our-work/nuclear/pic2.jpg" alt=""></a>
          </div>
          <div class="dlab-info">
            <div class="icon-bx-sm icon-bx bg-primary icon-up">
              <a [routerLink]="['/services-details']" class="icon-cell"><i class="flaticon-settings"></i></a>
            </div>
            <h4 class="title"><a [routerLink]="['/services-details']">Monitoring</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
