
<div class="page-wraper">
  <!-- header -->
  <app-header-light3></app-header-light3>
  <!-- header END -->
  <!-- Content -->
  <div class="page-content bg-white">
    <!-- inner page banner -->
    <app-banner1 [data] = "banner"></app-banner1>
    <!-- inner page banner END -->
    <!-- contact area -->
    <div class="content-block">
      <!-- Code Box -->
      <div class="section-full content-inner bg-white video-section" style="background-image:url('assets/images/background/bg-video.png');">
        <div class="container">
          <div class="footer-box">
            <div class="row align-items-center">
              <div class="col-lg-3 col-md-4">
                <img src="assets/images/footer.png" alt=""/>
              </div>
              <div class="col-lg-9 col-md-8">
                <h2 class="title">Check Footer Style 08</h2>
                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm.</p>
              </div>
            </div>
          </div>
          <div class="relative">
            <button id="copyButton" class="btn">Copy</button>
<pre class="code-box" id="copyTarget">
&lt;!-- Footer --&gt;
&lt;footer class="site-footer footer-full"&gt;
&lt;div class="p-tb60 bg-black"&gt;
  &lt;div class="container"&gt;
    &lt;div class="row"&gt;
      &lt;div class="col-md-6 text-md-left text-center footer-logo"&gt;
        &lt;img src="assets/images/logo-white.png" alt="" width="100"&gt;
        &lt;p class="m-b0 m-t10"&gt;Copyright &copy; 2024 DexignZone&lt;/p&gt;
      &lt;/div&gt;
      &lt;div class="col-md-6 text-md-right text-center"&gt;
        &lt;div class="widget-link "&gt;
          &lt;ul&gt;
            &lt;li&gt;&lt;a [routerLink]="['/index']"&gt;Home&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a [routerLink]="['/about-2']"&gt;About us&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a [routerLink]="['/help-desk']"&gt;Help Desk&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a [routerLink]="['/privacy-policy']"&gt;Privacy Policy&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a [routerLink]="['/contact-1']"&gt;Contact Us&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
        &lt;ul class="list-inline m-b0 m-t10"&gt;
          &lt;li&gt;&lt;a href="javascript:void(0);" class="site-button-link facebook hover"&gt;&lt;i class="fa fa-facebook"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="javascript:void(0);" class="site-button-link google-plus hover"&gt;&lt;i class="fa fa-google-plus"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="javascript:void(0);" class="site-button-link linkedin hover"&gt;&lt;i class="fa fa-linkedin"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="javascript:void(0);" class="site-button-link instagram hover"&gt;&lt;i class="fa fa-instagram"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="javascript:void(0);" class="site-button-link twitter hover"&gt;&lt;i class="fa fa-twitter"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;/footer&gt;
&lt;!-- Footer END --&gt;
</pre>
          </div>
        </div>
      </div>
      <!-- Code Box End -->
    </div>
    <!-- contact area END -->
  </div>
  <!-- Content END-->
  <!-- Footer -->
  <app-footer8></app-footer8>
  <!-- Footer END -->
  <!-- scroll top button -->
 <button class="scroltop fa fa-chevron-up" (click)="scroll_top()"></button>
</div>
