<div class="section-full content-inner-2 bg-gray wow fadeIn" data-wow-duration="2s" data-wow-delay="0.3s">
  <ng-template ngFor let-testimonialData [ngForOf]="data">
    <div class="container">
      <div class="section-head text-black text-center">
        <h2 class="title">{{testimonialData.section_title}}</h2>
        <p>{{testimonialData.section_description}}</p>
      </div>
      <owl-carousel-o [options]="customOptions" class="testimonial-six owl-loaded owl-theme owl-none dots-style-2">
        @for(testimonial of testimonialData.testimonial; track testimonial;){
          <ng-template carouselSlide>
            <div class="item">
              <div class="testimonial-8">
                <div class="testimonial-text">
                  <p>{{testimonial.description}}</p>
                </div>
                <div class="testimonial-detail clearfix">
                  <div class="testimonial-pic radius shadow"><img src="{{testimonial.image}}" width="100" height="100"
                      alt=""></div>
                  <h5 class="testimonial-name m-t0 m-b5">{{testimonial.name}}</h5> <span
                    class="testimonial-position">{{testimonial.role}}</span>
                </div>
              </div>
            </div>
          </ng-template>
        }
      </owl-carousel-o>
    </div>
  </ng-template>
</div>
