<div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-dark banner-content" style="background-image:url({{data.bg_image}});">
  <div class="container">
    <div class="dlab-bnr-inr-entry">
      <h1 class="text-white">{{data.title}}</h1>
      <!-- Breadcrumb row -->
      <div class="breadcrumb-row">
        <ul class="list-inline">
          <li><a href="javascript:void(0);">Home</a></li>
          <li>{{data.pagetitle}}</li>
        </ul>
      </div>
      <!-- Breadcrumb row END -->
    </div>
  </div>
</div>
