<div class="page-wraper">
  <!-- header -->
  <app-header-light3></app-header-light3>
  <!-- header END -->
  <!-- Content -->
  <div class="page-content bg-white">
    <!-- inner page banner -->
    <app-banner1 [data]="banner"></app-banner1>
    <!-- inner page banner END -->
    <!-- contact area -->
    <div class="content-block">
      <!-- About Us -->
      <div class="section-full content-inner">
        <div class="container">
          <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5">
              <div class="widget sidebar-widget ext-sidebar-menu widget_nav_menu">
                <ul class="menu">
                  <li><a href="javascript:void(0);">all services</a> </li>
                  <li class="active"><a href="javascript:void(0);">engine diagnostics</a> </li>
                  <li><a href="javascript:void(0);">lube oil and filters</a> </li>
                  <li><a href="javascript:void(0);">belts and hoses</a> </li>
                  <li><a href="javascript:void(0);">air conditioning</a> </li>
                  <li><a href="javascript:void(0);">brake repair</a> </li>
                  <li><a href="javascript:void(0);">tire and wheel services</a> </li>
                </ul>
              </div>
              <div class="widget">
                <div class="download-file">
                  <h4 class="title">Get your brochures</h4>
                  <ul>
                    <li>
                      <a href="javascript:void(0);">
                        <div class="text">Company Brochures</div>
                        <i class="fa fa-download"></i>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0);">
                        <div class="text">Company Info</div>
                        <i class="fa fa-download"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7 m-b30">
              <div class="row">
                <div class="col-lg-6 col-md-12 m-b30">
                  <div class="dlab-box">
                    <div class="dlab-media"> <a href="javascript:void(0);"><img src="assets/images/about/pic6.jpg" alt=""></a> </div>
                    <div class="dlab-info m-t30 ">
                      <h4 class="dlab-title m-t0"><a href="javascript:void(0);">The Initial Planning </a></h4>
                      <p>There are many variations of passages of Lorem Ipsum typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                      <p>There are many variations of passages of Lorem Ipsum typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                      <p>There are many variations of passages of Lorem Ipsum typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12">
                  <div class="dlab-box">
                    <div class="dlab-media m-b30 p-b5"> <a href="javascript:void(0);"><img src="assets/images/our-services/pic2.jpg" alt=""></a></div>
                    <div class="dlab-media"> <a href="javascript:void(0);"><img src="assets/images/our-services/pic3.jpg" alt=""></a></div>
                    <div class="dlab-info m-t30">
                      <h4 class="dlab-title m-t0"><a href="javascript:void(0);">From Start To finish</a></h4>
                      <p>There are many variations of passages of Lorem Ipsum typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                      <p>There are many variations of passages of Lorem Ipsum typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley. </p>
                      <p>There are many variations of passages of Lorem Ipsum typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Our Services -->
    </div>
    <!-- contact area END -->
  </div>
  <!-- Content END-->
  <!-- Footer -->
  <app-footer13></app-footer13>
  <!-- Footer End -->
 <button class="scroltop fa fa-chevron-up" (click)="scroll_top()"></button>
</div>
