<div class="section-full bg-white content-inner-2" id="about-us"
  style="background-image:url(assets/images/background/bg11.jpg);">
  <div class="container">
    <div class="section-head text-black text-center">
      <h2 class="title">Simple Cost-Efficient Mining Solutions</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sstandard dummy text ever since the.</p>
    </div>
    <div
      class="img-carousel owl-carousel owl-theme owl-none owl-dots-black-big service-box-4-area owl-dots-none owl-btn-center-lr owl-loade m-b30">
      <div class="item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
        <div class="service-box-4 text-center">
          <div class="service-images m-b15">
            <img src="assets/images/portfolio/mining/image_1.jpg" alt="" />
            <i class="flaticon-robot-arm"></i>
          </div>
          <div class="service-content">
            <h6 class="title"><a [routerLink]="['/services-details']">Mining Engineering</a></h6>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page.</p>
          </div>
        </div>
      </div>
      <div class="item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
        <div class="service-box-4 text-center">
          <div class="service-images m-b15">
            <img src="assets/images/portfolio/mining/image_2.jpg" alt="" />
            <i class="flaticon-factory-1"></i>
          </div>
          <div class="service-content">
            <h6 class="title"><a [routerLink]="['/services-details']">Exploration Management</a></h6>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page.</p>
          </div>
        </div>
      </div>
      <div class="item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
        <div class="service-box-4 text-center">
          <div class="service-images m-b15">
            <img src="assets/images/portfolio/mining/image_3.jpg" alt="" />
            <i class="flaticon-fuel-station"></i>
          </div>
          <div class="service-content">
            <h6 class="title"><a [routerLink]="['/services-details']">Engineering Services</a></h6>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page.</p>
          </div>
        </div>
      </div>
      <div class="item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.8s">
        <div class="service-box-4 text-center">
          <div class="service-images m-b15">
            <img src="assets/images/portfolio/mining/image_4.jpg" alt="" />
            <i class="flaticon-fuel-truck"></i>
          </div>
          <div class="service-content">
            <h6 class="title"><a [routerLink]="['/services-details']">Maintenance & Repair</a></h6>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page.</p>
          </div>
        </div>
      </div>
      <div class="item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
        <div class="service-box-4 text-center">
          <div class="service-images m-b15">
            <img src="assets/images/portfolio/mining/image_1.jpg" alt="" />
            <i class="flaticon-robot-arm"></i>
          </div>
          <div class="service-content">
            <h6 class="title"><a [routerLink]="['/services-details']">Mining Engineering</a></h6>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page.</p>
          </div>
        </div>
      </div>
      <div class="item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
        <div class="service-box-4 text-center">
          <div class="service-images m-b15">
            <img src="assets/images/portfolio/mining/image_2.jpg" alt="" />
            <i class="flaticon-factory-1"></i>
          </div>
          <div class="service-content">
            <h6 class="title"><a [routerLink]="['/services-details']">Exploration Management</a></h6>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page.</p>
          </div>
        </div>
      </div>
      <div class="item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
        <div class="service-box-4 text-center">
          <div class="service-images m-b15">
            <img src="assets/images/portfolio/mining/image_3.jpg" alt="" />
            <i class="flaticon-fuel-station"></i>
          </div>
          <div class="service-content">
            <h6 class="title"><a [routerLink]="['/services-details']">Engineering Services</a></h6>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page.</p>
          </div>
        </div>
      </div>
      <div class="item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.8s">
        <div class="service-box-4 text-center">
          <div class="service-images m-b15">
            <img src="assets/images/portfolio/mining/image_4.jpg" alt="" />
            <i class="flaticon-fuel-truck"></i>
          </div>
          <div class="service-content">
            <h6 class="title"><a [routerLink]="['/services-details']">Maintenance & Repair</a></h6>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page.</p>
          </div>
        </div>
      </div>
      <div class="item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
        <div class="service-box-4 text-center">
          <div class="service-images m-b15">
            <img src="assets/images/portfolio/mining/image_1.jpg" alt="" />
            <i class="flaticon-robot-arm"></i>
          </div>
          <div class="service-content">
            <h6 class="title"><a [routerLink]="['/services-details']">Mining Engineering</a></h6>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page.</p>
          </div>
        </div>
      </div>
      <div class="item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
        <div class="service-box-4 text-center">
          <div class="service-images m-b15">
            <img src="assets/images/portfolio/mining/image_2.jpg" alt="" />
            <i class="flaticon-factory-1"></i>
          </div>
          <div class="service-content">
            <h6 class="title"><a [routerLink]="['/services-details']">Exploration Management</a></h6>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page.</p>
          </div>
        </div>
      </div>
      <div class="item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
        <div class="service-box-4 text-center">
          <div class="service-images m-b15">
            <img src="assets/images/portfolio/mining/image_3.jpg" alt="" />
            <i class="flaticon-fuel-station"></i>
          </div>
          <div class="service-content">
            <h6 class="title"><a [routerLink]="['/services-details']">Engineering Services</a></h6>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page.</p>
          </div>
        </div>
      </div>
      <div class="item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.8s">
        <div class="service-box-4 text-center">
          <div class="service-images m-b15">
            <img src="assets/images/portfolio/mining/image_4.jpg" alt="" />
            <i class="flaticon-fuel-truck"></i>
          </div>
          <div class="service-content">
            <h6 class="title"><a [routerLink]="['/services-details']">Maintenance & Repair</a></h6>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a [routerLink]="['/services-1']" class="site-button btnhover13 button-md">See all Services</a>
    </div>
  </div>
</div>
