<div class="dlab-bnr-inr overlay-black-middle bg-pt cargo-banner" style="background-image:url(assets/images/main-slider/slide22.jpg);">
  <div class="container">
    <div class="dlab-bnr-inr-entry text-white">
      <h1 class="title">The Biggest Contribution <br /> Of Ship Industry To Humanity</h1>
      <form class="banner-form">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-4 col-6">
            <div class="form-group">
              <select>
                <option>Transport</option>
                <option>Air</option>
                <option>Ocean</option>
                <option>Road</option>
              </select>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-4 col-6">
            <div class="form-group">
              <select>
                <option>Country</option>
                <option>United State</option>
                <option>india</option>
                <option>Brazil</option>
              </select>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-6">
            <div class="form-group">
              <select>
                <option>To Country</option>
                <option>india</option>
                <option>Brazil</option>
                <option>United State</option>
              </select>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-6">
            <div class="form-group">
              <input type="date" class="form-control">
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <button class="site-button btnhover17 btn-block radius-no">Submit</button>
            </div>
          </div>
        </div>
      </form>
      <div class="bottom-link">
        <h4><a href="javascript:void(0);" class="text-white">Welcome To ship industry</a></h4>
      </div>
    </div>
  </div>
</div>
