<footer class="site-footer footer-overlay bg-img-fix bgpt1">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center m-b30">
          <h4 class="text-white font-weight-300">A SHORT STORY ABOUT US </h4>
          <p class="max-w600 p-b20 m-auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry has
            been the industry's standard dummy text ever since the been when an unknown printer.</p>
          <div class="max-w500 m-auto m-t30 subscribe-form">
            @if(message){
              <p [ngClass]="{ 'text-success': success, 'text-danger': !success }">{{ message }}</p>
            }
            <form class="dzSubscribe"  [formGroup]="subscribeForm" (ngSubmit)="onSubmit()">
              <div class="dzSubscribeMsg"></div>
              <div class="input-group">
                <input name="email" formControlName="email" required="required" class="form-control" placeholder="Your Email Id" type="email">
                <span class="input-group-btn">
                  <button name="submit" value="Submit" type="submit" class="site-button radius-xl">Subscribe</button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer bottom part -->
  <div class="footer-bottom text-center">
    <div class="container p-tb10">
      <div class="row">
        <div class="col-md-12 col-sm-12 m-b30">
          <img src="assets/images/logo-white.png" alt="" width="100">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="widget-link ">
            <ul>
              <li><a [routerLink]="['/index']">Home</a></li>
              <li><a [routerLink]="['/about-2']">About</a></li>
              <li><a [routerLink]="['/help-desk']">Help Desk</a></li>
              <li><a [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 m-t20">
          <ul class="list-inline">
            <li><a href="javascript:void(0);" class="site-button-link facebook hover"><i class="fa fa-facebook"></i></a> </li>
            <li><a href="javascript:void(0);" class="site-button-link google-plus hover"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="javascript:void(0);" class="site-button-link linkedin hover"><i class="fa fa-linkedin"></i></a> </li>
            <li><a href="javascript:void(0);" class="site-button-link instagram hover"><i class="fa fa-instagram"></i></a></li>
            <li><a href="javascript:void(0);" class="site-button-link twitter hover"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
