<div class="section-full call-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 text-white">
        <h2 class="title">Amazing things happen to your business </h2>
        <p class="m-b0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="col-lg-3 d-flex">
        <a [routerLink]="['/contact-1']" class="{{ callActionBtnClass ? callActionBtnClass : 'site-button btnhover10 white align-self-center outline ml-auto radius-xl outline-2' }}">Contact Us </a>
      </div>
    </div>
  </div>
</div>
