
<div class="page-wraper">

  <!-- header -->
  <app-header-light3></app-header-light3>
  <!-- header END -->
  <!-- Content -->
  <div class="page-content bg-white">
      <!-- inner page banner -->
      <app-banner1 [data] = "banner"></app-banner1>
      <!-- inner page banner END -->
      <!-- contact area -->
      <div class="content-block">
    <!-- Services Info Head -->
    <app-content15></app-content15>
    <!-- Services Info Head END -->
    <!-- Services -->
    <app-services-element2></app-services-element2>
    <!-- Services END -->
  </div>
  <!-- contact area END -->
  </div>
  <!-- Content END-->
<!-- Footer -->
  <app-footer13></app-footer13>
  <!-- Footer End -->
 <button class="scroltop fa fa-chevron-up" (click)="scroll_top()"></button>
</div>
