<div class="section-full p-t50 p-b20 bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <div class="icon-bx-wraper left shop-service-info m-b30">
          <div class="icon-md text-black radius">
            <a href="javascript:void(0);" class="icon-cell text-white"><i class="fa fa-gift"></i></a>
          </div>
          <div class="icon-content">
            <h5 class="dlab-tilte">Free shipping on orders $60+</h5>
            <p>Order more than 60$ and you will get free shippining Worldwide. More info.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="icon-bx-wraper left shop-service-info m-b30">
          <div class="icon-md text-black radius">
            <a href="javascript:void(0);" class="icon-cell text-white"><i class="fa fa-plane"></i></a>
          </div>
          <div class="icon-content">
            <h5 class="dlab-tilte">Worldwide delivery</h5>
            <p>We deliver to the following countries: USA, Canada, Europe, Australia</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="icon-bx-wraper left shop-service-info m-b30">
          <div class="icon-md text-black radius">
            <a href="javascript:void(0);" class="icon-cell text-white"><i class="fa fa-history"></i></a>
          </div>
          <div class="icon-content">
            <h5 class="dlab-tilte">60 days money back guranty!</h5>
            <p>Not happy with our product, feel free to return it, we will refund 100% your money!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
