<div class="section-full content-inner bg-white" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-6">
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-6 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.3s">
            <div class="dlab-box-bg m-b30 box-hover style3" style="background-image: url(assets/images/gallery/car/pic1.jpg)">
              <div class="icon-bx-wraper center p-lr20 p-tb30">
                <div class="text-primary m-b20">
                  <span class="icon-cell icon-md"><i class="ti-user"></i></span>
                </div>
                <div class="icon-content">
                  <h5 class="dlab-tilte">Largest Dealership</h5>
                  <p>Lorem Ipsum is simply dummy text of the printing and type setting industry.Lorem Ipsum is simply dummy text.</p>
                </div>
              </div>
              <div class="icon-box-btn text-center">
                <a [routerLink]="['/services-details']" class="site-button btn-block">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-6 wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.3s">
            <div class="dlab-box-bg m-b30 box-hover style3" style="background-image: url(assets/images/gallery/car/pic2.jpg)">
              <div class="icon-bx-wraper center p-lr20 p-tb30">
                <div class="text-primary m-b20">
                  <span class="icon-cell icon-md"><i class="ti-settings"></i></span>
                </div>
                <div class="icon-content">
                  <h5 class="dlab-tilte">Lower Car Prices</h5>
                  <p>Lorem Ipsum is simply dummy text of the printing and type setting industry.Lorem Ipsum is simply dummy text.</p>
                </div>
              </div>
              <div class="icon-box-btn text-center">
                <a [routerLink]="['/services-details']" class="site-button btn-block">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.3s">
            <div class="dlab-box-bg m-b30 box-hover style3" style="background-image: url(assets/images/gallery/car/pic3.jpg)">
              <div class="icon-bx-wraper center p-lr20 p-tb30">
                <div class="text-primary m-b20">
                  <span class="icon-cell icon-md"><i class="ti-support"></i></span>
                </div>
                <div class="icon-content">
                  <h5 class="dlab-tilte">Multipoint Safety</h5>
                  <p>Lorem Ipsum is simply dummy text of the printing and type setting industry.Lorem Ipsum is simply dummy text.</p>
                </div>
              </div>
              <div class="icon-box-btn text-center">
                <a [routerLink]="['/services-details']" class="site-button btn-block">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 m-b30 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
        <div class="request-form dezPlaceAni">
          <div class="request-form-header">
            <i class="flaticon-message"></i>
            <p>Don’t Hesitate To Ask</p>
            <h2>Request A Quote</h2>
          </div>
          <form>
            <div class="form-group">
              <div class="input-group">
                <label>Your Name</label>
                <input name="dzName" type="text" required="" class="form-control" placeholder="">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <label>Email</label>
                <input name="dzName" type="text" required="" class="form-control" placeholder="">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <label>Phone</label>
                <input name="dzName" type="text" required="" class="form-control" placeholder="">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <label>Quote Details</label>
                <textarea class="form-control"></textarea>
              </div>
            </div>
            <div class="form-group">
              <button class="site-button btnhover19 button-md btn-block">Submit Inquiry</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
