<div class="section-full content-inner-2 bg-white">
  <div class="container">
    <div class="section-head text-black text-center">
      <h2 class="title">Pricing Table</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
    </div>
    <div class="section-content box-sort-in button-example pricingtable-style2-area m-t80">
      <div class="pricingtable-row">
        <div class="row max-w1000 m-auto">
          <div class="col-sm-12 col-md-4 col-lg-4 p-lr0">
            <div class="pricingtable-wrapper style2 bg-white">
              <div class="pricingtable-inner">
                <div class="pricingtable-price">
                  <h4 class="font-weight-300 m-t10 m-b0">Basic</h4>
                  <div class="pricingtable-bx"><span>Free</span></div>
                </div>
                <p>Lorem ipsum dolor sit amet adipiscing elit sed do eiusmod tempors labore et dolore magna siad enim aliqua</p>
                <div class="m-t20">
                  <a href="javascript:void(0);" class="site-button radius-xl"><span class="p-lr30">Sign Up</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4 p-lr0">
            <div class="pricingtable-wrapper style2 bg-primary text-white active">
              <div class="pricingtable-inner">
                <div class="pricingtable-price">
                  <h4 class="font-weight-300 m-t10 m-b0">Professional</h4>
                  <div class="pricingtable-bx"> $ <span>29</span> /  Per Installation </div>
                </div>
                <p>Lorem ipsum dolor sit amet adipiscing elit sed do eiusmod tempors labore et dolore magna siad enim aliqua</p>
                <div class="m-t20">
                  <a href="javascript:void(0);" class="site-button white radius-xl"><span class="p-lr30">Sign Up</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4 p-lr0">
            <div class="pricingtable-wrapper style2 bg-white">
              <div class="pricingtable-inner">
                <div class="pricingtable-price">
                  <h4 class="font-weight-300 m-t10 m-b0">Extended</h4>
                  <div class="pricingtable-bx"> $  <span>29</span> /  Per Installation </div>
                </div>
                <p>Lorem ipsum dolor sit amet adipiscing elit sed do eiusmod tempors labore et dolore magna siad enim aliqua</p>
                <div class="m-t20">
                  <a href="javascript:void(0);" class="site-button radius-xl"><span class="p-lr30">Sign Up</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
