<header class="site-header mo-left header ext-header navstyle1">
  <div class="top-bar">
    <div class="container">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="dlab-topbar-left">
          <ul>
            <li><a [routerLink]="['/about-1']">About Us</a></li>
            <li><a [routerLink]="['/privacy-policy']">Refund Policy</a></li>
            <li><a [routerLink]="['/help-desk']">Help Desk</a></li>
          </ul>
        </div>
        <div class="dlab-topbar-right">
          <a [routerLink]="['/contact-1']" class="site-button radius-no btnhover11">GET A QUOTE</a>
        </div>
      </div>
    </div>
  </div>
  <div class="middle-bar bg-white">
    <div class="container">
      <!-- website logo  -->
      <div class="middle-area">
        <div class="logo-header">
          <a [routerLink]="['/index']"><img src="assets/images/logo-2.png" alt=""></a>
        </div>
        <div class="service-list">
          <ul>
            <li>
              <i class="la la-phone"></i>
              <h4 class="title">(+00)888.666.88</h4>
              <span>Free Call</span>
            </li>
            <li>
              <i class="la la-clock-o"></i>
              <h4 class="title">08:00 AM - 06:00 PM</h4>
              <span>Monday - Friday</span>
            </li>
            <li>
              <i class="la la-map"></i>
              <h4 class="title">183 Donato Parkways</h4>
              <span>CA, United State</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- main header -->
  <div class="sticky-header main-bar-wraper navbar-expand-lg">
    <div class="main-bar clearfix ">
      <div class="container clearfix">
        <!-- website logo -->
        <div class="logo-header mostion">
          <a [routerLink]="['/index']"><img src="assets/images/logo-2.png" alt=""></a>
        </div>
        <!-- nav toggle button -->
        <button class="navbar-toggler collapsed navicon justify-content-end" type="button" (click)="clickEvent()" [ngClass]="{'open': collapseToggle}">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <!-- extra nav -->
        <div class="extra-nav">
          <div class="extra-cell">
            <button id="quik-search-btn" type="button" (click)="searchOpen()" class="site-button-link"><i class="la la-search"></i></button>
          </div>
        </div>
        <!-- Quik search -->
        <div class="dlab-quik-search" class="{{searchToggle ? 'On d-block':'d-none'}}">
          <form action="#">
            <input name="search" value="" type="text" class="form-control" placeholder="Type to search">
            <span id="quik-search-remove" (click)="searchOpen()"><i class="ti-close"></i></span>
          </form>
        </div>
        <!-- main nav -->
        <div class="header-nav navbar-collapse collapse justify-content-start" id="navbarNavDropdown" [ngClass]="{'collapse show': collapseToggle}">
          <div class="logo-header d-md-block d-lg-none">
            <a [routerLink]="['/index']"><img src="assets/images/logo-2.png" alt=""></a>
          </div>
          <app-navigation1/>
          <div class="dlab-social-icon">
            <ul>
              <li><a class="site-button facebook sharp-sm outline fa fa-facebook" href="javascript:void(0);"></a></li>
              <li><a class="site-button twitter sharp-sm outline fa fa-twitter" href="javascript:void(0);"></a></li>
              <li><a class="site-button linkedin sharp-sm outline fa fa-linkedin" href="javascript:void(0);"></a></li>
              <li><a class="site-button instagram sharp-sm outline fa fa-instagram" href="javascript:void(0);"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- main header END -->
</header>
