<div class="section-full content-inner bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 m-b30 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
                <div class="dlab-box service-box-2">
                    <div class="dlab-media radius-sm dlab-img-overlay1 dlab-img-effect rotate">
                        <a [routerLink]="['/services-details']"><img src="assets\images\our-work\steelplant\image23.jpeg " alt=""></a>
                    </div>
                    <div class="dlab-info">
                        <h4 class="title">
                            <a [routerLink]="['/services-details']">
                            CNC LEDGER CUTTING MACHINE </a>
                        </h4>
                        <p>22KW 100MM SHEET CUTTING</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 m-b30 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
                <div class="dlab-box service-box-2">
                    <div class="dlab-media radius-sm dlab-img-overlay1 dlab-img-effect rotate">
                        <a [routerLink]="['/services-details']"><img src="assets\images\our-work\steelplant\image22.jpeg " alt=""></a>
                    </div>
                    <div class="dlab-info">
                        <h4 class="title">
                            <a [routerLink]="['/services-details']">CNC LEDGER CUTTING MACHINE</a>
                        </h4>
                        <p>6KW SHEET CUTTING</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 m-b30 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.9s">
                <div class="dlab-box service-box-2">
                    <div class="dlab-media radius-sm dlab-img-overlay1 dlab-img-effect rotate">
                        <a [routerLink]="['/services-details']"><img src="assets\images\our-work\steelplant\image21.jpeg " alt=""></a>
                    </div>
                    <div class="dlab-info">
                        <h4 class="title"><a [routerLink]="['/services-details']">CNC LEDGER TUBE</a></h4>
                        <p>ANGLE CHANNEL 1 SECTION MACHINE 2KW</p>
                        <!--<a [routerLink]="['/services-details']" class="site-button btnhover14">Learn More</a>-->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 m-b30 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
                <div class="dlab-box service-box-2">
                    <div class="dlab-media radius-sm dlab-img-overlay1 dlab-img-effect rotate">
                        <a [routerLink]="['/services-details']"><img src="assets\images\our-work\steelplant\image20.jpeg " alt=""></a>
                    </div>
                    <div class="dlab-info">
                        <h4 class="title">
                            <a [routerLink]="['/services-details']">SHOT BLASTING AND PAINTING BOOTH</a>
                        </h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 m-b30 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
                <div class="dlab-box service-box-2">
                    <div class="dlab-media radius-sm dlab-img-overlay1 dlab-img-effect rotate">
                        <a [routerLink]="['/services-details']"><img src="assets\images\our-work\steelplant\image8.jpeg " alt=""></a>
                    </div>
                    <div class="dlab-info">
                        <h4 class="title">
                            <a [routerLink]="['/services-details']">CNC PRESS BREAK</a>
                        </h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 m-b30 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.9s">
                <div class="dlab-box service-box-2">
                    <div class="dlab-media radius-sm dlab-img-overlay1 dlab-img-effect rotate">
                        <a [routerLink]="['/services-details']"><img src="assets\images\our-work\steelplant\image17.jpeg " alt=""></a>
                    </div>
                    <div class="dlab-info">
                        <h4 class="title"><a [routerLink]="['/services-details']">CNC LATH MACHNE</a></h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>