<div class="section-full about-progress">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7 col-md-12 bg-white">
        <div class="max-w700  m-auto content-inner">
          <div class="section-head">
            <h2 class="title">We provide the exceptional service we'd want to experience ourselves</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the  industry's standard dummy text ever since the 1500s, when an unknown printer</p>
          </div>
          <div class="about-progress-box">
            <h6 class="text-primary">Web Development<span class="progress-num pull-right">85%</span></h6>
            <div class="about-progress-bar bg-gray-dark">
              <div class="about-progress bg-primary wow slideInLeft" data-wow-delay="0.2s" data-wow-duration="2s" style="width: 85%;"></div>
            </div>
          </div>
          <div class="about-progress-box">
            <h6 class="text-primary">Web Designer<span class="progress-num pull-right">80%</span></h6>
            <div class="about-progress-bar bg-gray-dark">
              <div class="about-progress bg-primary wow slideInLeft" data-wow-delay="0.4s" data-wow-duration="2s" style="width: 80%;"></div>
            </div>
          </div>
          <div class="about-progress-box">
            <h6 class="text-primary">Performance<span class="progress-num pull-right">75%</span></h6>
            <div class="about-progress-bar bg-gray-dark">
              <div class="about-progress bg-primary wow slideInLeft" data-wow-delay="0.6s" data-wow-duration="2s" style="width: 75%;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-12 p-a0">
        <img src="assets/images/about/pic5.jpg" alt="" class="img-cover " />
      </div>
    </div>
  </div>
</div>
