<div class="page-wraper roboto-condensed">
  <!-- header -->
  <app-header-light10></app-header-light10>
  <!-- header END -->
  <!-- Content -->
  <div class="page-content bg-white">
    <!-- Slider -->
    <app-slider5></app-slider5>
    <!-- Slider END -->
    <!-- contact area -->
    <div class="content-block">
      <!-- Content Section -->
      <app-content3></app-content3>
      <!-- Content Section End -->
      <!-- About Us -->
      <app-owl-slider5></app-owl-slider5>

      <app-projects1></app-projects1>

      <app-owl-slider6></app-owl-slider6>

      <app-services-element5></app-services-element5>

      <app-team6 [data]="our_team"></app-team6>
      <!-- Testimonials -->
      <app-testimonial4 [data]="testimonials"></app-testimonial4>
      <!-- Testimonials End -->
      <!-- Latest blog -->
      <div class="section-full content-inner bg-gray wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.9s">
        <div class="container">
          <div class="section-head style2 text-center">
            <h2 class="title">Latest blog post</h2>
            <p>There are many variations of passages of Lorem Ipsum typesetting industry has been the industry's
              standard dummy text ever since the been when an unknown printer.</p>
          </div>
          <app-blog3 [data]="blogs"></app-blog3>
        </div>
      </div>
      <!-- Latest blog END -->

    </div>
    <!-- contact area END -->
  </div>
  <!-- Content END -->
  <!-- Footer -->
  <app-footer16></app-footer16>
  <!-- Footer END -->
  <button class="scroltop style2 radius" (click)="scroll_top()" type="button"><i class="fa fa-arrow-up"></i></button>
</div>
