
<div class="page-wraper">
  <!-- header -->
  <app-header-light3></app-header-light3>
  <!-- header END -->
  <!-- Content -->
  <div class="page-content bg-white">
    <!-- inner page banner -->
    <app-banner1 [data] = "banner"></app-banner1>
    <!-- inner page banner END -->
    <!-- contact area -->
    <div class="content-block">
      <!-- Code Box -->
      <div class="section-full content-inner bg-white video-section" style="background-image:url('assets/images/background/bg-video.png');">
        <div class="container">
          <div class="footer-box">
            <div class="row align-items-center">
              <div class="col-lg-3 col-md-4">
                <img src="assets/images/footer.png" alt=""/>
              </div>
              <div class="col-lg-9 col-md-8">
                <h2 class="title">Check Footer Style 12</h2>
                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm.</p>
              </div>
            </div>
          </div>
          <div class="relative">
            <button id="copyButton" class="btn">Copy</button>
<pre class="code-box" id="copyTarget">
&lt;!-- Footer --&gt;
&lt;footer class="site-footer footer-gray-1"&gt;
&lt;div class="section-full p-t50 p-b20 bg-primary text-white overlay-primary-dark footer-info-bar"&gt;
  &lt;div class="container"&gt;
    &lt;div class="row"&gt;
      &lt;div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 m-b30"&gt;
        &lt;div class="icon-bx-wraper bx-style-1 p-a20 radius-sm br-col-w1"&gt;
          &lt;div class="icon-content"&gt;
            &lt;h5 class="dlab-tilte"&gt;
              &lt;span class="icon-sm"&gt;&lt;i class="ti-location-pin"&gt;&lt;/i&gt;&lt;/span&gt;
              Company Address
            &lt;/h5&gt;
            &lt;p class="op7"&gt;Demo address #8901 Marmora Road Chi Minh City, Vietnam&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 m-b30"&gt;
        &lt;div class="icon-bx-wraper bx-style-1 p-a20 radius-sm br-col-w1"&gt;
          &lt;div class="icon-content"&gt;
            &lt;h5 class="dlab-tilte"&gt;
              &lt;span class="icon-sm"&gt;&lt;i class="ti-email"&gt;&lt;/i&gt;&lt;/span&gt;
              E-mail
            &lt;/h5&gt;
            &lt;p class="m-b0 op7"&gt;{{ email1 }}&lt;/p&gt;
            &lt;p class="op7"&gt;{{ email2 }}&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 m-b30"&gt;
        &lt;div class="icon-bx-wraper bx-style-1 p-a20 radius-sm br-col-w1"&gt;
          &lt;div class="icon-content"&gt;
            &lt;h5 class="dlab-tilte"&gt;
              &lt;span class="icon-sm"&gt;&lt;i class="ti-mobile"&gt;&lt;/i&gt;&lt;/span&gt;
              Phone Numbers
            &lt;/h5&gt;
            &lt;p class="m-b0 op7"&gt;Mobile : +00 234 678 9012&lt;/p&gt;
            &lt;p class="op7"&gt;Phone : +0 1234 5678 90&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 m-b30"&gt;
        &lt;div class="icon-bx-wraper bx-style-1 p-a20 radius-sm br-col-w1"&gt;
          &lt;div class="icon-content"&gt;
            &lt;h5 class="dlab-tilte"&gt;
              &lt;span class="icon-sm"&gt;&lt;i class="ti-alarm-clock"&gt;&lt;/i&gt;&lt;/span&gt;
              Office Hours
            &lt;/h5&gt;
            &lt;p class="m-b0 op7"&gt;Mon To Sat - 08.00-18.00&lt;/p&gt;
            &lt;p class="op7"&gt;Sunday - Close&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;div class="footer-top"&gt;
  &lt;div class="container"&gt;
    &lt;div class="row"&gt;
      &lt;div class="col-lg-3 col-md-6 col-sm-6 wow fadeIn" data-wow-delay="0.2s"&gt;
        &lt;div class="widget border-0"&gt;
          &lt;h6 class="m-b20 text-white font-weight-300 text-uppercase"&gt;Quick Links&lt;/h6&gt;
          &lt;ul class="list-2"&gt;
            &lt;li&gt;&lt;a [routerLink]="['/index']"&gt;Home&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a [routerLink]="['/index']"&gt;About us &lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a [routerLink]="['/index']"&gt;Our Team&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a [routerLink]="['/index']"&gt;Hire Developers&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a [routerLink]="['/index']"&gt;Industries&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a [routerLink]="['/index']"&gt;Portfolio&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a [routerLink]="['/index']"&gt;Contact Us&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a [routerLink]="['/index']"&gt;Blogs&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a [routerLink]="['/index']"&gt;Testimonials&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a [routerLink]="['/index']"&gt;Careers&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="col-lg-4 col-md-6 col-sm-6 wow fadeIn" data-wow-delay="0.4s"&gt;
        &lt;div class="widget"&gt;
          &lt;h6 class="m-b20 text-white font-weight-300 text-uppercase"&gt;Newsletter&lt;/h6&gt;
          &lt;div class="subscribe-form m-b20 m-t30"&gt;
            &lt;form class="dzSubscribe" action="script/mailchamp.php" method="post"&gt;
              &lt;div class="dzSubscribeMsg"&gt;&lt;/div&gt;
              &lt;div class="input-group"&gt;
                &lt;input name="dzEmail" required="required" class="form-control radius-no" placeholder="Your Email Address" type="email"&gt;
                &lt;span class="input-group-btn"&gt;
                  &lt;button name="submit" value="Submit" type="submit" class="site-button radius-no"&gt;SEND&lt;/button&gt;
                &lt;/span&gt;
              &lt;/div&gt;
            &lt;/form&gt;
          &lt;/div&gt;
          &lt;h6 class="m-b10 text-white font-weight-300 text-uppercase"&gt;Connect with us&lt;/h6&gt;
          &lt;ul class="list-inline m-a0"&gt;
            &lt;li&gt;&lt;a href="javascript:void(0);" class="site-button facebook sharp"&gt;&lt;i class="fa fa-facebook"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="javascript:void(0);" class="site-button google-plus sharp"&gt;&lt;i class="fa fa-google-plus"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="javascript:void(0);" class="site-button linkedin sharp"&gt;&lt;i class="fa fa-linkedin"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="javascript:void(0);" class="site-button instagram sharp"&gt;&lt;i class="fa fa-instagram"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="javascript:void(0);" class="site-button twitter sharp"&gt;&lt;i class="fa fa-twitter"&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="col-lg-5 col-md-12 col-sm-12 wow fadeIn" data-wow-delay="0.6s"&gt;
        &lt;div class="icon-bx-wraper bx-style-1 p-a30 radius-sm br-col-w1 bg-tpw1"&gt;
          &lt;h5 class="text-white font-weight-300"&gt;Serving in 70+ countries for web, software and mobile app development&lt;/h5&gt;
          &lt;p&gt;United States (USA), United Kingdom (UK), Singapore, Kenya, South Africa Germany, Canada, Australia, Netherlands, Norway, United Arab Emirates (UAE) , Finland etc. &lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;!-- footer bottom part --&gt;
&lt;div class="footer-bottom"&gt;
  &lt;div class="container"&gt;
    &lt;div class="row"&gt;
      &lt;div class="col-md-6 col-sm-6 text-left "&gt; &lt;span&gt;Copyright © 2024 DexignZone. all rights reserved.&lt;/span&gt; &lt;/div&gt;
      &lt;div class="col-md-6 col-sm-6 text-right "&gt;
        &lt;div class="widget-link "&gt;
          &lt;ul&gt;
            &lt;li&gt;&lt;a [routerLink]="['/help-desk']"&gt; Help Desk&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a [routerLink]="['/privacy-policy']"&gt;  Refund Policy&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;/footer&gt;
&lt;!-- Footer END --&gt;
</pre>
          </div>
        </div>
      </div>
      <!-- Code Box End -->
    </div>
    <!-- contact area END -->
  </div>
  <!-- Content END-->
  <!-- Footer -->
  <app-footer12></app-footer12>
  <!-- Footer END -->
  <!-- scroll top button -->
  <button class="scroltop fa fa-chevron-up" (click)="scroll_top()"></button>
</div>
