<div class="section-full content-inner bg-gray" id="services">
  <div class="container">
    <div class="section-head text-black text-center">
      <h2 class="title">Our Services</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 m-b30 wow bounceInUp" data-wow-duration="2s" data-wow-delay="0.3s">
        <div class="icon-bx-wraper bx-style-1 p-a30 center fly-box bg-white">
          <div class="icon-lg m-b20"> <a [routerLink]="['/services-details']" class="icon-cell"><img src="assets/images/icon/car/icon-1.png" alt=""/></a> </div>
          <div class="icon-content">
            <h5 class="dlab-tilte text-uppercase">Air Conditioning</h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam.</p>
            <a [routerLink]="['/services-details']" class="site-button btnhover19">Site Button</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 m-b30 wow bounceInUp" data-wow-duration="2s" data-wow-delay="0.6s">
        <div class="icon-bx-wraper bx-style-1 p-a30 center fly-box bg-white">
          <div class="icon-lg m-b20"> <a [routerLink]="['/services-details']" class="icon-cell"><img src="assets/images/icon/car/icon-2.png" alt=""/></a> </div>
          <div class="icon-content">
            <h5 class="dlab-tilte text-uppercase">Brake Repair</h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam.</p>
            <a [routerLink]="['/services-details']" class="site-button btnhover19">Site Button</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 m-b30 wow bounceInUp" data-wow-duration="2s" data-wow-delay="0.9s">
        <div class="icon-bx-wraper bx-style-1 p-a30 center fly-box bg-white">
          <div class="icon-lg m-b20"> <a [routerLink]="['/services-details']" class="icon-cell text-primary"><img src="assets/images/icon/car/icon-3.png" alt=""/></a> </div>
          <div class="icon-content">
            <h5 class="dlab-tilte text-uppercase">Lube, Oil And Filters</h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam.</p>
            <a [routerLink]="['/services-details']" class="site-button btnhover19">Site Button</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 m-b30 wow bounceInUp" data-wow-duration="2s" data-wow-delay="0.9s">
        <div class="icon-bx-wraper bx-style-1 p-a30 center fly-box bg-white">
          <div class="icon-lg m-b20"> <a [routerLink]="['/services-details']" class="icon-cell"><img src="assets/images/icon/car/icon-4.png" alt=""/></a> </div>
          <div class="icon-content">
            <h5 class="dlab-tilte text-uppercase">Belts And Hoses</h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam.</p>
            <a [routerLink]="['/services-details']" class="site-button btnhover19">Site Button</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 m-b30 wow bounceInUp" data-wow-duration="2s" data-wow-delay="0.6s">
        <div class="icon-bx-wraper bx-style-1 p-a30 center fly-box bg-white">
          <div class="icon-lg m-b20"> <a [routerLink]="['/services-details']" class="icon-cell"><img src="assets/images/icon/car/icon-5.png" alt=""/></a> </div>
          <div class="icon-content">
            <h5 class="dlab-tilte text-uppercase">Engine Diagnostics</h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam.</p>
            <a [routerLink]="['/services-details']" class="site-button btnhover19">Site Button</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 m-b30 wow bounceInUp" data-wow-duration="2s" data-wow-delay="0.3s">
        <div class="icon-bx-wraper bx-style-1 p-a30 center fly-box bg-white">
          <div class="icon-lg m-b20"> <a [routerLink]="['/services-details']" class="icon-cell text-primary"><img src="assets/images/icon/car/icon-6.png" alt=""/></a> </div>
          <div class="icon-content">
            <h5 class="dlab-tilte text-uppercase">Tire – Wheel Services</h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam.</p>
            <a [routerLink]="['/services-details']" class="site-button btnhover19">Site Button</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
