<div class="page-wraper">
  <!-- header -->
  <app-header-light3></app-header-light3>
  <!-- header END -->
  <!-- Content -->
  <div class="page-content bg-white">
    <!-- inner page banner -->
    <app-banner1 [data]="banner"></app-banner1>
    <!-- inner page banner END -->
    <!-- contact area -->
    <div class="content-block">
      <!-- Your Faq -->
      <div class="section-full content-inner bg-white">
        <div class="container">
          <div class="section-head text-black text-left">
            <h3>General Questions</h3>
          </div>
          <div class="row">
            <div class="col-lg-12 col-sm-12">
              <div class="dlab-accordion faq-2 box-sort-in" id="accordion1">
                <div class="panel">
                  <div class="acod-head">
                    <h6 class="acod-title">
                      <a href="javascript:void(0);" data-toggle="collapse" data-target="#faq1" class="collapsed" aria-expanded="true"> 1. Web design aorem apsum dolor sit amet?</a>
                    </h6>
                  </div>
                  <div id="faq1" class="acod-body collapse" data-parent="#accordion1">
                    <div class="acod-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                      only five centuries, but also the leap into electronic typesetting, remaining essentially
                      unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                      Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                      versions of Lorem Ipsum.</div>
                  </div>
                </div>
                <div class="panel">
                  <div class="acod-head">
                    <h6 class="acod-title">
                      <a href="javascript:void(0);" data-toggle="collapse" data-target="#faq2" class="collapsed"aria-expanded="true"> 2. Graphic design aorem apsum dolor ?</a>
                    </h6>
                  </div>
                  <div id="faq2" class="acod-body collapse" data-parent="#accordion1">
                    <div class="acod-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                      only five centuries, but also the leap into electronic typesetting, remaining essentially
                      unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                      Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                      versions of Lorem Ipsum.</div>
                  </div>
                </div>
                <div class="panel">
                  <div class="acod-head">
                    <h6 class="acod-title">
                      <a href="javascript:void(0);" data-toggle="collapse" data-target="#faq3" class="collapsed" aria-expanded="true">
                        3. Developement aorem apsum dolor sit amet ? </a>
                    </h6>
                  </div>
                  <div id="faq3" class="acod-body collapse" data-parent="#accordion1">
                    <div class="acod-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                      only five centuries, but also the leap into electronic typesetting, remaining essentially
                      unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                      Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                      versions of Lorem Ipsum.</div>
                  </div>
                </div>
                <div class="panel">
                  <div class="acod-head">
                    <h6 class="acod-title">
                      <a href="javascript:void(0);" data-toggle="collapse" data-target="#faq4" class="collapsed" aria-expanded="true">
                        4. True Responsiveness consectetuer adipiscing ? </a>
                    </h6>
                  </div>
                  <div id="faq4" class="acod-body collapse" data-parent="#accordion1">
                    <div class="acod-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                      only five centuries, but also the leap into electronic typesetting, remaining essentially
                      unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                      Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                      versions of Lorem Ipsum.</div>
                  </div>
                </div>
                <div class="panel">
                  <div class="acod-head">
                    <h6 class="acod-title">
                      <a href="javascript:void(0);" data-toggle="collapse" data-target="#faq5" class="collapsed" aria-expanded="true">
                        5. Claritas est etiam processus ?</a>
                    </h6>
                  </div>
                  <div id="faq5" class="acod-body collapse" data-parent="#accordion1">
                    <div class="acod-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                      only five centuries, but also the leap into electronic typesetting, remaining essentially
                      unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                      Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                      versions of Lorem Ipsum.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Faq Info END -->
        </div>
      </div>
      <!-- Your Faq End -->
      <!-- Your Faq -->
      <div class="section-full bg-gray content-inner">
        <div class="container">
          <div class="section-head text-black text-left">
            <h3>General Questions</h3>
          </div>
          <div class="row m-b30">
            <div class="col-lg-12 col-sm-12">
              <div class="dlab-accordion faq-2 box-sort-in" id="accordion2">
                <div class="panel">
                  <div class="acod-head">
                    <h6 class="acod-title">
                      <a href="javascript:void(0);" data-toggle="collapse" data-target="#faq6" class="collapsed" aria-expanded="true">
                        1. Web design aorem apsum dolor sit amet?</a>
                    </h6>
                  </div>
                  <div id="faq6" class="acod-body collapse" data-parent="#accordion2">
                    <div class="acod-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                      only five centuries, but also the leap into electronic typesetting, remaining essentially
                      unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                      Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                      versions of Lorem Ipsum.</div>
                  </div>
                </div>
                <div class="panel">
                  <div class="acod-head">
                    <h6 class="acod-title">
                      <a href="javascript:void(0);" data-toggle="collapse" data-target="#faq7" class="collapsed" aria-expanded="true">
                        2. Graphic design aorem apsum dolor ?</a>
                    </h6>
                  </div>
                  <div id="faq7" class="acod-body collapse" data-parent="#accordion2">
                    <div class="acod-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                      only five centuries, but also the leap into electronic typesetting, remaining essentially
                      unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                      Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                      versions of Lorem Ipsum.</div>
                  </div>
                </div>
                <div class="panel">
                  <div class="acod-head">
                    <h6 class="acod-title">
                      <a href="javascript:void(0);" data-toggle="collapse" data-target="#faq8" class="collapsed" aria-expanded="true">
                        3. Developement aorem apsum dolor sit amet ? </a>
                    </h6>
                  </div>
                  <div id="faq8" class="acod-body collapse" data-parent="#accordion2">
                    <div class="acod-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                      only five centuries, but also the leap into electronic typesetting, remaining essentially
                      unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                      Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                      versions of Lorem Ipsum.</div>
                  </div>
                </div>
                <div class="panel">
                  <div class="acod-head">
                    <h6 class="acod-title">
                      <a href="javascript:void(0);" data-toggle="collapse" data-target="#faq9" class="collapsed" aria-expanded="true">
                        4. True Responsiveness consectetuer adipiscing ? </a>
                    </h6>
                  </div>
                  <div id="faq9" class="acod-body collapse" data-parent="#accordion2">
                    <div class="acod-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                      only five centuries, but also the leap into electronic typesetting, remaining essentially
                      unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                      Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                      versions of Lorem Ipsum.</div>
                  </div>
                </div>
                <div class="panel">
                  <div class="acod-head">
                    <h6 class="acod-title">
                      <a href="javascript:void(0);" data-toggle="collapse" data-target="#faq10" class="collapsed" aria-expanded="true">
                        5. Claritas est etiam processus ?</a>
                    </h6>
                  </div>
                  <div id="faq10" class="acod-body collapse" data-parent="#accordion2">
                    <div class="acod-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                      only five centuries, but also the leap into electronic typesetting, remaining essentially
                      unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                      Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                      versions of Lorem Ipsum.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Faq Info END -->
        </div>
      </div>
      <!-- Your Faq End -->
    </div>
    <!-- contact area END -->
  </div>
  <!-- Content END-->
  <!-- Footer -->
  <app-footer13></app-footer13>
  <!-- Footer End -->
 <button class="scroltop fa fa-chevron-up" (click)="scroll_top()"></button>
</div>
