<div class="section-full content-inner bg-gray wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
  <div class="container">
    <div class="section-head text-black text-center">
      <h2 class="title">Our Services</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="img-carousel-dots owl-theme owl-dots-none owl-carousel owl-btn-center-lr owl-btn-3">
          <div class="item">
            <div class="service-box style1">
              <div class="icon-xl m-b20 text-primary radius">
                <a [routerLink]="['/portfolio-details']" class="icon-cell"><i class="flaticon-worker"></i></a>
              </div>
              <h3 class="title">Material Engineering</h3>
            </div>
          </div>
          <div class="item">
            <div class="service-box style1">
              <div class="icon-xl m-b20 text-primary radius">
                <a [routerLink]="['/portfolio-details']" class="icon-cell"><i class="flaticon-factory"></i></a>
              </div>
              <h3 class="title">Power and Energy</h3>
            </div>
          </div>
          <div class="item">
            <div class="service-box style1">
              <div class="icon-xl m-b20 text-primary radius">
                <a [routerLink]="['/portfolio-details']" class="icon-cell"><i class="flaticon-settings"></i></a>
              </div>
              <h3 class="title">Agricultural Engineering</h3>
            </div>
          </div>
          <div class="item">
            <div class="service-box style1">
              <div class="icon-xl m-b20 text-primary radius">
                <a [routerLink]="['/portfolio-details']" class="icon-cell"><i class="flaticon-engineer-1"></i></a>
              </div>
              <h3 class="title">Petroleum Engineering</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
