<div class="widget widget_gallery gallery-grid-4">
  <h5 class="widget-title style-1">Our Gallery</h5>
  <ul id="lightgallery" class="lightgallery">
    <li>
      <div class="dlab-post-thum dlab-img-effect">
        <span data-exthumbimage="assets/images/gallery/pic1.jpg" data-src="assets/images/gallery/pic1.jpg" class="check-km" title="Image 1 Title will come here">
          <img src="assets/images/gallery/pic1.jpg" alt="">
        </span>
      </div>
    </li>
    <li>
      <div class="dlab-post-thum dlab-img-effect">
        <span data-exthumbimage="assets/images/gallery/pic2.jpg" data-src="assets/images/gallery/pic2.jpg" class="check-km" title="Image 2 Title will come here">
          <img src="assets/images/gallery/pic2.jpg" alt="">
        </span>
      </div>
    </li>
    <li>
      <div class="dlab-post-thum dlab-img-effect">
        <span data-exthumbimage="assets/images/gallery/pic3.jpg" data-src="assets/images/gallery/pic3.jpg" class="check-km" title="Image 3 Title will come here">
          <img src="assets/images/gallery/pic3.jpg" alt="">
        </span>
      </div>
    </li>
    <li>
      <div class="dlab-post-thum dlab-img-effect">
        <span data-exthumbimage="assets/images/gallery/pic4.jpg" data-src="assets/images/gallery/pic4.jpg" class="check-km" title="Image 4 Title will come here">
          <img src="assets/images/gallery/pic4.jpg" alt="">
        </span>
      </div>
    </li>
    <li>
      <div class="dlab-post-thum dlab-img-effect">
        <span data-exthumbimage="assets/images/gallery/pic5.jpg" data-src="assets/images/gallery/pic5.jpg" class="check-km" title="Image 5 Title will come here">
          <img src="assets/images/gallery/pic5.jpg" alt="">
        </span>
      </div>
    </li>
    <li>
      <div class="dlab-post-thum dlab-img-effect">
        <span data-exthumbimage="assets/images/gallery/pic6.jpg" data-src="assets/images/gallery/pic6.jpg" class="check-km" title="Image 6 Title will come here">
          <img src="assets/images/gallery/pic6.jpg" alt="">
        </span>
      </div>
    </li>
    <li>
      <div class="dlab-post-thum dlab-img-effect">
        <span data-exthumbimage="assets/images/gallery/pic7.jpg" data-src="assets/images/gallery/pic7.jpg" class="check-km" title="Image 7 Title will come here">
          <img src="assets/images/gallery/pic7.jpg" alt="">
        </span>
      </div>
    </li>
    <li>
      <div class="dlab-post-thum dlab-img-effect">
        <span data-exthumbimage="assets/images/gallery/pic8.jpg" data-src="assets/images/gallery/pic8.jpg" class="check-km" title="Image 8 Title will come here">
          <img src="assets/images/gallery/pic8.jpg" alt="">
        </span>
      </div>
    </li>
  </ul>
</div>
