<div class="main-slider style-two default-banner" id="home">
  <div class="tp-banner-container">
      <div class="tp-banner" >
<div id="rev_slider_1077_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="scroll-effect136" data-source="gallery" style="background-color:#111111;padding:0px;">
  <!-- START REVOLUTION SLIDER 5.3.0.2 fullscreen mode -->
  <div id="rev_slider_1077_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.3.0.2">
    <ul>
      <!-- SLIDE  -->
      <li data-index="rs-3042" data-transition="slideoverhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-thumb="assets/images/main-slider/slide4.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="OIL INDUSTRY" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
        <img src="assets/images/main-slider/slide4.jpg" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 200" data-offsetend="0 -200" alt="" data-bgparallax="10" class="rev-slidebg" data-no-retina="">
        <div class="tp-caption tp-shape tp-shapewrapper " id="slide-100-layer"
          data-x="['center','center','center','center']"
          data-hoffset="['0','0','0','0']"
          data-y="['middle','middle','middle','middle']"
          data-voffset="['0','0','0','0']"
          data-width="full" data-height="full"
          data-whitespace="nowrap"
          data-type="shape"
          data-basealign="slide"
          data-responsive_offset="off"
          data-responsive="off"
          data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 2;background-color:rgba(0, 0, 0, 0.1);border-color:rgba(0, 0, 0, 0);border-width:0px; background-image:url(assets/images/overlay/rrdiagonal-line.png)"> </div>
        <!-- LAYER NR. 1 -->
        <div class="tp-caption tp-shape tp-shapewrapper  "
          id="slide-3042-layer-11"
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
          data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']"
          data-width="full"
          data-height="['400','400','400','550']"
          data-whitespace="nowrap"

          data-type="shape"
          data-basealign="slide"
          data-responsive_offset="off"
          data-responsive="off"
          data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":0,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"

          style="z-index: 5;background-color:rgba(0, 0, 0, 0.50);border-color:rgba(0, 0, 0, 0);border-width:0px;background:linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%);cursor:default;">
        </div>
        <!-- LAYER NR. 2 -->
        <div class="tp-caption BigBold-Title tp-resizeme"
          id="slide-3042-layer-1"
          data-x="['left','left','left','left']" data-hoffset="['50','50','30','17']"
          data-y="['bottom','bottom','bottom','bottom']" data-voffset="['110','110','155','160']"
          data-fontsize="['110','100','70','50']"
          data-lineheight="['100','90','60','60']"
          data-width="['none','none','none','400']"
          data-height="none"
          data-whitespace="['nowrap','nowrap','nowrap','normal']"

          data-type="text"
          data-basealign="slide"
          data-responsive_offset="off"

          data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[10,10,10,10]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[10,10,10,10]"
          data-paddingleft="[0,0,0,0]"

          style="z-index: 6; white-space: nowrap;">OIL INDUSTRY
        </div>
        <!-- LAYER NR. 3 -->
        <div class="tp-caption BigBold-SubTitle  "
          id="slide-3042-layer-4"
          data-x="['left','left','left','left']" data-hoffset="['55','55','33','20']"
          data-y="['bottom','bottom','bottom','bottom']" data-voffset="['40','1','50','58']"
          data-fontsize="['15','15','15','13']"
          data-lineheight="['24','24','24','20']"
          data-width="['410','410','410','280']"
          data-height="['60','100','100','100']"
          data-whitespace="normal"

          data-type="text"
          data-basealign="slide"
          data-responsive_offset="off"
          data-responsive="off"
          data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"

          style="z-index: 7; min-width: 410px; max-width: 410px; max-width: 60px; max-width: 60px; white-space: normal;">Industry is ready to help you in making unique-looking and best website in a moment.
        </div>
        <!-- LAYER NR. 4 -->
        <div class="tp-caption BigBold-Button rev-btn "
          id="slide-3042-layer-7"
          data-x="['left','left','left','left']" data-hoffset="['480','480','30','20']"
          data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','30','20']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"

          data-type="button"
          data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":""}]'
          data-basealign="slide"
          data-responsive_offset="off"
          data-responsive="off"
          data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[15,15,15,15]"
          data-paddingright="[50,50,50,50]"
          data-paddingbottom="[15,15,15,15]"
          data-paddingleft="[50,50,50,50]"

          style="z-index: 8; white-space: nowrap;border-color:rgba(255, 255, 255, 0.25);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">READ MORE
        </div>
        <!-- LAYER NR. 5 -->
        <div class="tp-caption BigBold-Button rev-btn "
          id="slide-3042-layer-12"
          data-x="['left','left','left','left']" data-hoffset="['676','676','226','216']"
          data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','30','20']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"

          data-type="button"
          data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
          data-basealign="slide"
          data-responsive_offset="off"
          data-responsive="off"
          data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[15,15,15,15]"
          data-paddingright="[20,20,20,20]"
          data-paddingbottom="[15,15,15,15]"
          data-paddingleft="[20,20,20,20]"

          style="z-index: 9; white-space: nowrap;border-color:rgba(255, 255, 255, 0.25);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="fa fa-chevron-right"></i>
        </div>
      </li>
      <!-- SLIDE  -->
      <li data-index="rs-3043" data-transition="slideoverhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-thumb="assets/images/main-slider/slide5.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="GAS INDUSTRY " data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
        <img src="assets/images/main-slider/slide5.jpg" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-offsetstart="-500 0" data-offsetend="500 0" alt="" data-bgparallax="10" class="rev-slidebg" data-no-retina="">
        <div class="tp-caption tp-shape tp-shapewrapper " id="slide-200-layer"
          data-x="['center','center','center','center']"
          data-hoffset="['0','0','0','0']"
          data-y="['middle','middle','middle','middle']"
          data-voffset="['0','0','0','0']"
          data-width="full" data-height="full"
          data-whitespace="nowrap"
          data-type="shape"
          data-basealign="slide"
          data-responsive_offset="off"
          data-responsive="off"
          data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 2;background-color:rgba(0, 0, 0, 0.1);border-color:rgba(0, 0, 0, 0);border-width:0px; background-image:url(assets/images/overlay/rrdiagonal-line.png)"> </div>
        <!-- LAYER NR. 6 -->
        <div class="tp-caption tp-shape tp-shapewrapper"
          id="slide-3043-layer-11"
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
          data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']"
          data-width="full"
          data-height="['400','400','400','550']"
          data-whitespace="nowrap"

          data-type="shape"
          data-basealign="slide"
          data-responsive_offset="off"
          data-responsive="off"
          data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":0,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"

          style="z-index: 10;background-color:rgba(0, 0, 0, 0.50);border-color:rgba(0, 0, 0, 0);border-width:0px;background:linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%);cursor:default;">
        </div>
        <!-- LAYER NR. 7 -->
        <div class="tp-caption BigBold-Title   tp-resizeme"
          id="slide-3043-layer-1"
          data-x="['left','left','left','left']" data-hoffset="['50','50','30','17']"
          data-y="['bottom','bottom','bottom','bottom']" data-voffset="['110','110','155','160']"
          data-fontsize="['110','100','70','50']"
          data-lineheight="['100','90','60','60']"
          data-width="['none','none','none','400']"
          data-height="none"
          data-whitespace="['nowrap','nowrap','nowrap','normal']"

          data-type="text"
          data-basealign="slide"
          data-responsive_offset="off"

          data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[10,10,10,10]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[10,10,10,10]"
          data-paddingleft="[0,0,0,0]"

          style="z-index: 11; white-space: nowrap;">GAS INDUSTRY
        </div>
        <!-- LAYER NR. 8 -->
        <div class="tp-caption BigBold-SubTitle  "
          id="slide-3043-layer-4"
          data-x="['left','left','left','left']" data-hoffset="['55','55','33','20']"
          data-y="['bottom','bottom','bottom','bottom']" data-voffset="['40','1','50','58']"
          data-fontsize="['15','15','15','13']"
          data-lineheight="['24','24','24','20']"
          data-width="['410','410','410','280']"
          data-height="['60','100','100','100']"
          data-whitespace="normal"

          data-type="text"
          data-basealign="slide"
          data-responsive_offset="off"
          data-responsive="off"
          data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"

          style="z-index: 12; min-width: 410px; max-width: 410px; max-width: 60px; max-width: 60px; white-space: normal;">Industry is ready to help you in making unique-looking and best website in a moment.
        </div>
        <!-- LAYER NR. 9 -->
        <div class="tp-caption BigBold-Button rev-btn "
          id="slide-3043-layer-7"
          data-x="['left','left','left','left']" data-hoffset="['480','480','30','20']"
          data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','30','20']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"

          data-type="button"
          data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":""}]'
          data-basealign="slide"
          data-responsive_offset="off"
          data-responsive="off"
          data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[15,15,15,15]"
          data-paddingright="[50,50,50,50]"
          data-paddingbottom="[15,15,15,15]"
          data-paddingleft="[50,50,50,50]"

          style="z-index: 13; white-space: nowrap;border-color:rgba(255, 255, 255, 0.25);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">READ MORE
        </div>
        <!-- LAYER NR. 10 -->
        <div class="tp-caption BigBold-Button rev-btn "
          id="slide-3043-layer-12"
          data-x="['left','left','left','left']" data-hoffset="['676','676','226','216']"
          data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','30','20']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"

          data-type="button"
          data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
          data-basealign="slide"
          data-responsive_offset="off"
          data-responsive="off"
          data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
          data-textAlign="['left','left','left','left']"
          data-paddingtop="[15,15,15,15]"
          data-paddingright="[20,20,20,20]"
          data-paddingbottom="[15,15,15,15]"
          data-paddingleft="[20,20,20,20]"

          style="z-index: 14; white-space: nowrap;border-color:rgba(255, 255, 255, 0.25);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="fa fa-chevron-right"></i>
        </div>
      </li>
      <!-- SLIDE  -->
    </ul>
    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
  </div>
</div>
</div>
</div>
</div>
