<div class="section-full content-inner overlay-black-dark bg-img-fix"
  style="background-image:url(assets/images/background/bg1.jpg);">
  <div class="container">
    <div class="section-content text-center text-white">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
          <div class="counter-style-5">
            <div class="">
              <span class="counter">6810</span>
            </div>
            <span class="counter-text">Passionate Employee</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
          <div class="counter-style-5">
            <div class="">
              <span class="counter">4060</span>
            </div>
            <span class="counter-text">Modern Factory</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
          <div class="counter-style-5">
            <div class="">
              <span class="counter">3164</span>
            </div>
            <span class="counter-text">Factory in Worldwide</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
          <div class="counter-style-5">
            <div class="">
              <span class="counter">1852</span>
            </div>
            <span class="counter-text">International Awards</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
