<div class="section-full" id="choose-us">
  <div class="row m-lr0">
    <div class="col-xl-6 col-lg-12 p-lr0 d-flex dis-tbl latest-project-info style1 bg-secondry wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.3s">
      <div class="align-self-center text-white">
        <div class="section-head text-white">
          <h2 class="title">Why choose us</h2>
          <p>We’re continually working to change the way people think about and engage with our products.</p>
        </div>
        <ul class="list-check white list-2 rounded border">
          <li>
            <h4 class="m-b10">Vehicle Inspection</h4>
            <p>We understand you need a building that works for you and your organisation.</p>
          </li>
          <li>
            <h4 class="m-b10">Transmission Checkup</h4>
            <p>We understand you need a building that works for you and your organisation.</p>
          </li>
          <li>
            <h4 class="m-b10">Auto Repairing</h4>
            <p>We understand you need a building that works for you and your organisation.</p>
          </li>
          <li>
            <h4 class="m-b10">High Performance</h4>
            <p>We understand you need a building that works for you and your organisation.</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xl-6 col-lg-12 p-lr0 wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.3s">
      <div class="row spno">
        <div class="col-lg-6 col-md-6 col-sm-6 bg-primary align-items-center d-flex">
          <div class="dlab-services-box text-white">
            <h2 class="service-year">32<small>year</small></h2>
            <h3 class="title m-b0">We are Building  the  Future and Restoring</h3>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <img class="img-cover" src="assets/images/our-work/car/pic3.jpg" alt="">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="video-bx radius-no h100">
            <img src="assets/images/our-work/car/pic4.jpg" alt="Signature" class="img-cover">
            <div class="video-play-icon">
              <a href="https://www.youtube.com/watch?v=_FRZVScwggM" class="popup-youtube video bg-primary"><i class="fa fa-play"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 bg-secondry align-items-center d-flex">
          <div class="dlab-services-box text-white">
            <h3 class="title text-white m-b15">Renting Tips & Articles</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <a [routerLink]="['/about-1']" class="site-button btnhover19 outline white outline-2">ABOUT US</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
