<div class="section-full bg-gray about-carousel-ser content-inner-2">
  <div class="container">
    <div class="about-ser-carousel owl-carousel owl-theme owl-btn-center-lr owl-dots-primary-full owl-btn-3 owl-loaded owl-drag">
      <div class="item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
        <div class="icon-bx-wraper service-box style6">
          <div class="dlab-media m-b20">
            <img src="assets/images/our-services/ship/pic1.jpg" alt="">
            <div class="icon-bx-sm icon-bx bg-primary icon-up">
              <a href="javascript:void(0);" class="icon-cell">
                <i class="fa fa-codepen"></i>
              </a>
            </div>
          </div>
          <div class="icon-content">
            <h4 class="dlab-tilte text-capitalize"><a [routerLink]="['/about-1']">cargo</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
            <a [routerLink]="['/about-1']" class="site-button btnhover17 radius-no">Read More</a>
          </div>
        </div>
      </div>
      <div class="item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
        <div class="icon-bx-wraper service-box style6">
          <div class="dlab-media m-b20">
            <img src="assets/images/our-services/ship/pic2.jpg" alt="">
            <div class="icon-bx-sm icon-bx bg-primary icon-up">
              <a href="javascript:void(0);" class="icon-cell">
                <i class="fa fa-fighter-jet"></i>
              </a>
            </div>
          </div>
          <div class="icon-content">
            <h4 class="dlab-tilte text-capitalize"><a [routerLink]="['/about-1']">logistic service </a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
            <a [routerLink]="['/about-1']" class="site-button btnhover17 radius-no">Read More</a>
          </div>
        </div>
      </div>
      <div class="item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.9s">
        <div class="icon-bx-wraper service-box style6">
          <div class="dlab-media m-b20">
            <img src="assets/images/our-services/ship/pic3.jpg" alt="">
            <div class="icon-bx-sm icon-bx bg-primary icon-up">
              <a href="javascript:void(0);" class="icon-cell">
                <i class="fa fa-home"></i>
              </a>
            </div>
          </div>
          <div class="icon-content">
            <h4 class="dlab-tilte text-capitalize"><a [routerLink]="['/about-1']">storage</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
            <a [routerLink]="['/about-1']" class="site-button btnhover17 radius-no">Read More</a>
          </div>
        </div>
      </div>
      <div class="item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
        <div class="icon-bx-wraper service-box style6">
          <div class="dlab-media m-b20">
            <img src="assets/images/our-services/ship/pic1.jpg" alt="">
            <div class="icon-bx-sm icon-bx bg-primary icon-up">
              <a href="javascript:void(0);" class="icon-cell">
                <i class="fa fa-codepen"></i>
              </a>
            </div>
          </div>
          <div class="icon-content">
            <h4 class="dlab-tilte text-capitalize"><a [routerLink]="['/about-1']">cargo</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the  industry.</p>
            <a [routerLink]="['/about-1']" class="site-button btnhover17 radius-no">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
