<div class="main-slider style-two default-banner" id="home">
  <div class="tp-banner-container">
    <div class="tp-banner">
      <div id="rev_slider_1175_1_wrapper" class="rev_slider_wrapper fullscreen-container"
           data-alias="duotone192" data-source="gallery"
           style="background-color:transparent;padding:0px;">
        <!-- START REVOLUTION SLIDER -->
        <div id="rev_slider_1175_1" class="rev_slider fullscreenbanner"
             style="display:none;" data-version="5.3.0.2">
          <ul>

            <!-- SLIDE 1 -->
            <li data-index="rs-3239" data-transition="fade" data-slotamount="default"
                data-hideafterloop="0" data-hideslideonmobile="off"
                data-easein="default" data-easeout="default" data-masterspeed="default"
                data-thumb="assets/images/our-work/steelplant/image1.jpeg"
                data-rotate="0" data-fstransition="fade" data-fsmasterspeed="300"
                data-fsslotamount="7" data-saveperformance="off" data-title="Slide"
                data-description="">

              <!-- MAIN IMAGE -->
              <img src="assets/images/our-work/steelplant/image1.jpeg" alt=""
                   data-lazyload="assets/images/our-work/steelplant/image1.jpeg"
                   data-bgposition="center center" data-bgfit="cover"
                   data-bgrepeat="no-repeat" data-bgparallax="3"
                   class="rev-slidebg" data-no-retina>

              <!-- SHAPE LAYER -->
              <div class="tp-caption tp-shape tp-shapewrapper"
                   id="slide-100-layer"
                   data-x="center" data-y="middle"
                   data-hoffset="0" data-voffset="0"
                   data-width="full" data-height="full"
                   data-whitespace="nowrap" data-type="shape"
                   data-basealign="slide" data-responsive_offset="off" data-responsive="off"
                   data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;",
                                 "delay":0,"ease":"Power4.easeOut"},
                                {"delay":"wait","speed":1000,"to":"opacity:0;",
                                 "ease":"Power4.easeOut"}]'
                   style="z-index: 2; background-color:rgba(0,0,0,0.1);
                          border-color:rgba(0,0,0,0); border-width:0px;
                          background-image:url(assets/images/overlay/rrdiagonal-line.png)">
              </div>

              <!-- BACKGROUND VIDEO -->
              <div class="rs-background-video-layer"
                   data-forcerewind="on" data-volume="mute"
                   data-videowidth="100%" data-videoheight="100%"
                   data-videomp4="assets/video/video7.mp4"
                   data-videopreload="auto" data-videoloop="loop"
                   data-aspectratio="16:9" data-autoplay="true"
                   data-autoplayonlyfirsttime="false">
              </div>

              <!-- TEXT LAYER -->
	      <!-- TEXT LAYER -->
<div class="tp-caption rs-parallaxlevel-4"
     id="slide-3239-layer-1"
     data-x="center" data-y="middle"
     data-hoffset="0" data-voffset="0"
     data-fontsize="[60,60,40,20]" data-lineheight="[75,70,50,30]"
     data-height="none"
     data-whitespace="nowrap" data-type="text"
     data-responsive_offset="off" data-responsive="off"
     data-frames='[{"from":"y:20px;sX:0.9;sY:0.9;opacity:0;",
                   "speed":1000,"to":"o:1;","delay":500,
                   "ease":"Power4.easeOut"},
                  {"delay":"wait","speed":300,
                   "to":"opacity:0;","ease":"nothing"}]'
     style="z-index: 5;
            font-size: 47px;
            line-height: 70px;
            color: white;
            font-family: 'Montserrat', sans-serif;
            white-space: nowrap;
            font-weight: 600;
            text-align: center;
            margin: 10px;
	    margin-top: 50px;
            padding: 221px 105px 20px 20px;">
  YOU DEMAND - WE PRODUCE!
</div>

            </li>

            <!-- SLIDE 2 -->
            <li data-index="rs-3240" data-transition="fade" data-slotamount="default"
                data-hideafterloop="0" data-hideslideonmobile="off"
                data-easein="default" data-easeout="default"
                data-masterspeed="default"
                data-thumb="assets/images/our-work/steelplant/image12.jpeg"
                data-rotate="0" data-saveperformance="off"
                data-title="Slide" data-description="">

              <!-- MAIN IMAGE -->
              <img src="assets/images/our-work/steelplant/image12.jpeg" alt=""
                   data-lazyload="assets/"
                   data-bgposition="center center" data-bgfit="cover"
                   data-bgrepeat="no-repeat" data-bgparallax="3"
                   class="rev-slidebg" data-no-retina>

              <!-- SHAPE LAYER -->
              <div class="tp-caption tp-shape tp-shapewrapper"
                   id="slide-200-layer"
                   data-x="center" data-y="middle"
                   data-hoffset="0" data-voffset="0"
                   data-width="full" data-height="full"
                   data-whitespace="nowrap" data-type="shape"
                   data-basealign="slide" data-responsive_offset="off" data-responsive="off"
                   data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;",
                                 "delay":0,"ease":"Power4.easeOut"},
                                {"delay":"wait","speed":1000,"to":"opacity:0;",
                                 "ease":"Power4.easeOut"}]'
                   style="z-index: 2; background-color:rgba(0, 0, 0, 0.1);
                          border-color:rgba(0, 0, 0, 0); border-width:0px;
                          background-image:url(assets/images/overlay/rrdiagonal-line.png)">
              </div>

              <!-- TEXT LAYER -->
              <div class="tp-caption rs-parallaxlevel-4"
                   id="slide-3239-layer-2"
                   data-x="center" data-y="middle"
                   data-hoffset="0" data-voffset="0"
                   data-fontsize="[60,60,40,20]" data-lineheight="[75,70,50,30]"
                   data-width="[720,640,480,300]" data-height="none"
                   data-whitespace="normal" data-type="text"
                   data-responsive_offset="off" data-responsive="off"
                   data-frames='[{"from":"y:20px;sX:0.9;sY:0.9;opacity:0;",
                                 "speed":1000,"to":"o:1;","delay":500,
                                 "ease":"Power4.easeOut"},
                                {"delay":"wait","speed":300,
                                 "to":"opacity:0;","ease":"nothing"}]'
                   style="z-index: 5; min-width: 720px; max-width: 720px;
                          white-space: normal; font-size: 47px; line-height:70px;
                          color: rgba(255, 255, 255, 1.00); font-family:Poppins;
                          border-width:0px; font-weight:600;">
                YOU DEMAND - WE PRODUCE!
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

