<div class="section-full content-inner bg-gray">
  <ng-template ngFor let-teamData [ngForOf]="data">
    <div class="container">
      <div class="section-head text-center">
        <h2 class="title">{{teamData.section_title}}</h2>
        <p>{{teamData.section_description}}</p>
      </div>
      <div class="row">
        @for(team of teamData.team; track team){
        <div class="col-lg-3 col-md-6 col-sm-6 wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.9s">
          <div class="dlab-box m-b30 dlab-team8">
            <div class="dlab-media">
              <a href="javascript:void(0);">
                <img alt="" src="{{team.image}}">
              </a>
              <ul class="dlab-social-icon">
                @for(social of team.social_link; track social){
                <li>
                  <a target="_blank" class="site-button fa {{social.icon_class}} {{social.title}}" title="{{social.title}}" href="{{social.link}}"></a>
                </li>
                }
              </ul>
            </div>
            <div class="dlab-info">
              <h4 class="dlab-title"><a [routerLink]="['/team-1']">{{team.name}}</a></h4>
              <span class="dlab-position">{{team.role}}</span>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </ng-template>
</div>
