<div class="section-full">
  <div class="row spno about-industry">
    <div class="col-lg-4 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.3s">
      <div class="dlab-img-effect zoom">
        <img src="assets/images/our-work/leather/pic1.jpg" alt="" class="img-cover">
      </div>
    </div>
    <div class="col-lg-4 bg-secondry text-white wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
      <div class="service-box style2">
        <div>
          <h2 class="title"><span>Grow your </span> <br />business.</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <a [routerLink]="['/about-1']" class="site-button btnhover21 outline white outline-2">ABOUT US</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.9s">
      <div class="dlab-img-effect zoom">
        <img src="assets/images/our-work/leather/pic2.jpg" alt="" class="img-cover">
      </div>
    </div>
    <div class="col-lg-4 bg-primary text-white wow fadeIn" data-wow-duration="2s" data-wow-delay="0.3s">
      <div class="service-box style2">
        <div>
          <h2 class="title"><span>Make smarter </span> <br />decisions.</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <a [routerLink]="['/about-1']" class="site-button btnhover21 outline white outline-2">ABOUT US</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
      <div class="dlab-img-effect zoom">
        <img src="assets/images/our-work/leather/pic3.jpg" alt="" class="img-cover">
      </div>
    </div>
    <div class="col-lg-4 bg-primary text-white wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
      <div class="service-box style2">
        <div>
          <h2 class="title text-black"><span>Understand any </span> <br />industry sector.</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <a [routerLink]="['/about-1']" class="site-button btnhover21 outline white outline-2">ABOUT US</a>
        </div>
      </div>
    </div>
  </div>
</div>
