<header class="site-header mo-left header-full header header-transparent header-sidenav onepage white">
  <!-- main header -->
  <div class="sticky-header main-bar-wraper navbar-expand-lg">
    <div class="main-bar clearfix">
      <div class="container-fluid p-r0">
        <div class="header-content-bx">
          <!-- website logo -->
          <div class="logo-header">
            <a [routerLink]="['/index']"><img src="assets/images/logo-white-2.png" alt="" /></a>
          </div>
          <div class="extra-nav">
            <div class="extra-cell">
              <ul>
                <li class="search-btn">
                  <a href="javascript:void(0);" class="menu-icon">
                    <div class="menu-icon-in">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-nav navbar-collapse collapse full-sidenav navbar">
    <div class="logo-header">
      <a [routerLink]="['/index']"><img src="assets/images/logo-2.png" alt="" /></a>
    </div>
    <ul class="nav navbar-nav ">
      <li><a href="#home" class="scroll nav-link">Home</a></li>
      <li><a href="#about" class="scroll nav-link">About Us</a></li>
      <li><a href="#choose-us" class="scroll nav-link">Why Choose Us</a></li>
      <li><a href="#services" class="scroll nav-link">Our Services</a></li>
      <li><a href="#latestnews" class="scroll nav-link">Latest News</a></li>
      <li><a href="#team" class="scroll nav-link">Our Team</a></li>
      <li><a href="#client" class="scroll nav-link">Our Client</a></li>
      <li><a href="#footer" class="scroll nav-link">Contact Us</a></li>
    </ul>

    <app-navigation1 style="display: none;" />

    <div class="social-menu">
      <ul>
        <li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
        <li><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
        <li><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
      </ul>
      <p class="copyright-head">© 2024 Industry </p>
    </div>
  </div>
  <div class="menu-close">
    <i class="ti-close"></i>
  </div>
  <!-- main header END -->
</header>
