<div class="section-full bg-white content-inner-2 project-slider" style="background-image:url(assets/images/background/bg11.jpg); background-repeat:no-repeat;
			background-position:right bottom;">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 p-lr0">
        <owl-carousel-o [options]="customOptions" class="project-carousel-2 owl-btn-center-lr owl-btn-1 black  wow fadeInLeft">
          @for(slide of slideStore; track slide){
          <ng-template carouselSlide>
            <div class="item">
              <div class="dlab-media dlab-img-overlay1 dlab-img-effect zoom">
                <img src="{{slide.image}}" alt="">
              </div>
            </div>
          </ng-template>
          }
        </owl-carousel-o>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="about-content wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
          <div class="section-head style2">
            <h2 class="title">Our Latest Project Industrial <br />Style Apartment</h2>
            <p>Praesent pharetra orci odio, ut mattis tellus ullamcorper ornare. Suspendisse ullamcorper metus in erat
              viverra, vehicula pharetra dolor accumsan. In arcu ex, rutrum finibus malesuada </p>
          </div>
          <div class="m-b30">
            <ul class="list-details">
              <li>
                <strong>Clients:</strong>
                <span>Ethan Hunt</span>
              </li>
              <li>
                <strong>Completion:</strong>
                <span>February 5th, 2024</span>
              </li>
              <li>
                <strong>Project Type:</strong>
                <span>Villa, Residence</span>
              </li>
            </ul>
          </div>
          <div class="">
            <a [routerLink]="['/portfolio-details']" class="site-button btnhover20">View Portfolio</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
