<footer class="site-footer text-uppercase bg-white">
  <!-- Social icon -->
  <div class="social-curve wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.3s">
    <div class="container">
      <ul class="social-icon list-inline m-b0">
        <li><span class="title">Follow Us</span></li>
        <li><a href="javascript:void(0);" class="site-button-link facebook hover"><i class="fa fa-facebook"></i></a> </li>
        <li><a href="javascript:void(0);" class="site-button-link google-plus hover"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="javascript:void(0);" class="site-button-link linkedin hover"><i class="fa fa-linkedin"></i></a> </li>
        <li><a href="javascript:void(0);" class="site-button-link instagram hover"><i class="fa fa-instagram"></i></a> </li>
        <li><a href="javascript:void(0);" class="site-button-link twitter hover"><i class="fa fa-twitter"></i></a></li>
      </ul>
    </div>
  </div>
  <!-- Social icon End -->
  <div class="footer-top" style="background-image:url(assets/images/background/bg2.png); background-size: contain;">
    <div class="container saf-footer">
      <div class="row">
        <div class="col-md-6 col-lg-3 col-sm-6 footer-col-4">
          <div class="widget widget_getintuch">
            <h5 class="m-b30 text-white ">Contact us</h5>
            <ul>
              <li><i class="ti-location-pin"></i><strong>address</strong> demo address #8901 Marmora Road Chi Minh City,
                Vietnam </li>
              <li><i class="ti-mobile"></i><strong>phone</strong>0800-123456 (24/7 Support Line)</li>
              <li><i class="ti-email"></i><strong>email</strong>{{ email }}</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-6 col-5 footer-col-4">
          <div class="widget widget_services border-0">
            <h5 class="m-b30 text-white">Company</h5>
            <ul>
              <li><a [routerLink]="['/about-1']">About Us</a></li>
              <li><a [routerLink]="['/blog-grid-2']">Blog</a></li>
              <li><a [routerLink]="['/services-1']">Services</a></li>
              <li><a [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
              <li><a [routerLink]="['/portfolio-details']">Projects </a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-6 col-7 footer-col-4">
          <div class="widget widget_services border-0">
            <h5 class="m-b30 text-white">Useful Link</h5>
            <ul>
              <li><a [routerLink]="['/help-desk']">Help Desk </a></li>
              <li><a [routerLink]="['/shop']">Shop</a></li>
              <li><a [routerLink]="['/contact-1']">Contact</a></li>
              <li><a [routerLink]="['/portfolio-details']">Portfolio</a></li>
              <li><a [routerLink]="['/team-1']">Team</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-sm-6 footer-col-4">
          <div class="widget widget_gallery gallery-grid-4">
            <h5 class="m-b30 text-white">Gallery</h5>
            <ul class="lightgallery">
              <li class="img-effect2">
                <span data-exthumbimage="assets/images/gallery/pic1.jpg" data-src="assets/images/gallery/pic1.jpg"
                  class="check-km" title="Title Come here 1">
                  <img src="assets/images/gallery/gallery-min/pic1.jpg" alt="">
                </span>
              </li>
              <li class="img-effect2">
                <span data-exthumbimage="assets/images/gallery/pic2.jpg" data-src="assets/images/gallery/pic2.jpg"
                  class="check-km" title="Title Come here 2">
                  <img src="assets/images/gallery/gallery-min/pic2.jpg" alt="">
                </span>
              </li>
              <li class="img-effect2">
                <span data-exthumbimage="assets/images/gallery/pic3.jpg" data-src="assets/images/gallery/pic2.jpg"
                  class="check-km" title="Title Come here 3">
                  <img src="assets/images/gallery/gallery-min/pic3.jpg" alt="">
                </span>
              </li>
              <li class="img-effect2">
                <span data-exthumbimage="assets/images/gallery/pic4.jpg" data-src="assets/images/gallery/pic2.jpg"
                  class="check-km" title="Title Come here 4">
                  <img src="assets/images/gallery/gallery-min/pic4.jpg" alt="">
                </span>
              </li>
              <li class="img-effect2">
                <span data-exthumbimage="assets/images/gallery/pic5.jpg" data-src="assets/images/gallery/pic2.jpg"
                  class="check-km" title="Title Come here 5">
                  <img src="assets/images/gallery/gallery-min/pic5.jpg" alt="">
                </span>
              </li>
              <li class="img-effect2">
                <span data-exthumbimage="assets/images/gallery/pic6.jpg" data-src="assets/images/gallery/pic2.jpg"
                  class="check-km" title="Title Come here 6">
                  <img src="assets/images/gallery/gallery-min/pic6.jpg" alt="">
                </span>
              </li>
              <li class="img-effect2">
                <span data-exthumbimage="assets/images/gallery/pic7.jpg" data-src="assets/images/gallery/pic2.jpg"
                  class="check-km" title="Title Come here 7">
                  <img src="assets/images/gallery/gallery-min/pic7.jpg" alt="">
                </span>
              </li>
              <li class="img-effect2">
                <span data-exthumbimage="assets/images/gallery/pic8.jpg" data-src="assets/images/gallery/pic2.jpg"
                  class="check-km" title="Title Come here 8">
                  <img src="assets/images/gallery/gallery-min/pic8.jpg" alt="">
                </span>
              </li>
              <li class="img-effect2">
                <span data-exthumbimage="assets/images/gallery/pic9.jpg" data-src="assets/images/gallery/pic2.jpg"
                  class="check-km" title="Title Come here 9">
                  <img src="assets/images/gallery/gallery-min/pic9.jpg" alt="">
                </span>
              </li>
              <li class="img-effect2">
                <span data-exthumbimage="assets/images/gallery/pic10.jpg" data-src="assets/images/gallery/pic2.jpg"
                  class="check-km" title="Title Come here 10">
                  <img src="assets/images/gallery/gallery-min/pic10.jpg" alt="">
                </span>
              </li>
              <li class="img-effect2">
                <span data-exthumbimage="assets/images/gallery/pic1.jpg" data-src="assets/images/gallery/pic1.jpg"
                  class="check-km" title="Title Come here 11">
                  <img src="assets/images/gallery/gallery-min/pic1.jpg" alt="">
                </span>
              </li>
              <li class="img-effect2">
                <span data-exthumbimage="assets/images/gallery/pic2.jpg" data-src="assets/images/gallery/pic2.jpg"
                  class="check-km" title="Title Come here 12">
                  <img src="assets/images/gallery/gallery-min/pic2.jpg" alt="">
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer bottom part -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 text-left "> <span>Copyright © 2024 DexignZone</span> </div>
        <div class="col-md-6 col-sm-6 text-right ">
          <div class="widget-link ">
            <ul>
              <li><a [routerLink]="['/help-desk']"> Help Desk</a></li>
              <li><a [routerLink]="['/privacy-policy']"> Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
