<owl-carousel-o [options]="customOptions" class="blog-carousel owl-btn-3 owl-btn-center-lr">
  @for(blog of data; track blog){
  <ng-template carouselSlide>
    <div class="item">
      <div class="blog-post blog-grid blog-rounded blog-effect1">
        <div class="dlab-post-media dlab-img-effect rotate">
          <a href="javascript:void(0);"><img src="{{blog.blog_image}}" alt=""></a>
        </div>
        <div class="dlab-info p-a20 border-1">
          <div class="dlab-post-meta">
            <ul>
              <li class="post-date" [innerHTML]="blog.post_date"></li>
              <li class="post-author" [innerHTML]="blog.post_author"></li>
            </ul>
          </div>
          <div class="dlab-post-title">
            <h4 class="post-title"><a routerLink="/{{blog.read_more_link}}">{{blog.post_title}}</a></h4>
          </div>
          <div class="dlab-post-text">
            <p>{{blog.post_description}}</p>
          </div>
          <div class="dlab-post-readmore">
            <a [routerLink]="[blog.url]" title="READ MORE" rel="bookmark" class="site-button btnhover14">{{blog.read_more_text}}</a>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  }
</owl-carousel-o>
